force-app/main/default/flows/Complaint_Autocreate_Country_Assessment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OLY_Create_Country_based_Assessments</name>
        <label>Create Country-based Assessments</label>
        <locationX>380</locationX>
        <locationY>3203</locationY>
        <actionName>CMPL123__Execute_Automations_Using_System_User</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>CMPL123CME__Questionnaire__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processGroupName</name>
            <value>
                <stringValue>Assessment_Create_Records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>rcol_FinalAsmtCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CMPL123__Execute_Automations_Using_System_User</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Assessments</name>
        <label>Update Assessments</label>
        <locationX>50</locationX>
        <locationY>2927</locationY>
        <actionName>CMPL123__Execute_Automations_Using_System_User</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>OLY_Create_Country_based_Assessments</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>CMPL123CME__Questionnaire__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processGroupName</name>
            <value>
                <stringValue>Assessment_Update_Records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>col_UpdatedAssessments</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CMPL123__Execute_Automations_Using_System_User</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Additional_Asmt_to_collection</name>
        <label>Add Additional Asmt to collection</label>
        <locationX>468</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>rcol_CreateCountryAssessment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rv_Assessment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Additional_Asmt_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Asmt_to_collection</name>
        <label>Add Asmt to collection</label>
        <locationX>138</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>col_UpdatedAssessments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Draft_Asmt_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Draft_Asmt_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_country_name_to_Additional_Asmt_collection</name>
        <label>Add country name to Additional Asmt collection</label>
        <locationX>1322</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>col_AdditionalAsmtCountries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SingleCountryValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Selected_Countries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_country_name_to_Initial_Asmt_collection</name>
        <label>Add country name to Initial Asmt collection</label>
        <locationX>1058</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>col_InitialAsmtCountries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SingleCountryValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Selected_Countries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Initial_Asmt_to_collection</name>
        <label>Add Initial Asmt to collection</label>
        <locationX>468</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>rcol_CreateCountryAssessment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rv_Assessment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Initial_Asmt_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Non_PTI_Asmt_to_Final_Asmt_collection</name>
        <label>Add Non-PTI Asmt to Final Asmt collection</label>
        <locationX>666</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>rcol_FinalAsmtCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Non_PTI_Assessment_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Non_PTI_Assessment_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PTI_Asmt_to_Final_Asmt_collection</name>
        <label>Add PTI Asmt to Final Asmt collection</label>
        <locationX>270</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>rcol_FinalAsmtCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PTIAssessment_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PTIAssessment_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Asmts_for_Country</name>
        <label>Count Asmts for Country</label>
        <locationX>1388</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>num_PendingAsmtForCountry</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_pending_Asmt_for_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>num_AnyAsmtForCountry</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_any_Asmt_for_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_pending_Asmt_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_draft_Assessments</name>
        <label>Count draft Assessments</label>
        <locationX>182</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>num_DraftAssessments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_draft_Assessments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_draft_Assessments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Selected_Countries</name>
        <label>Reset Selected Countries</label>
        <locationX>1388</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedCountries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_UpdateSelectedCountryValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_country_list_is_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Additional_Asmt_values</name>
        <label>Set Additional Asmt values</label>
        <locationX>468</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>rv_Assessment.OLY_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Additional_Asmt_country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Assessment.OLY_Assessment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Additional</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Additional_Asmt_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asmt_Is_Changed_to_PTI_True</name>
        <label>Set Asmt Is Changed to PTI = True</label>
        <locationX>138</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>Draft_Asmt_loop.OLY_Is_Changed_to_PTI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Asmt_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Initial_Asmt_values</name>
        <label>Set Initial Asmt values</label>
        <locationX>468</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>rv_Assessment.OLY_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Initial_Asmt_country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Assessment.OLY_Assessment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Initial_Asmt_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_parent_Complaint_on_reusable_Asmt_variable</name>
        <label>Set parent Complaint on reusable Asmt variable</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>rv_Assessment.CMPL123CME__Complaint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Initial_Asmt_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PTI_Defaults_on_Assessment_fields</name>
        <label>Set PTI Defaults on Assessment fields</label>
        <locationX>270</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>PTIAssessment_loop.OLY_Reportable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTIAssessment_loop.OLY_Type_of_Reportable_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Reportable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTIAssessment_loop.OLY_Type_of_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Reportable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PTIAssessment_loop.OLY_Reportability_Rationale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ReportabilityRationale_fromPTIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PTI_Asmt_to_Final_Asmt_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reportable_Countries</name>
        <label>Set Reportable Countries</label>
        <locationX>987</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedCountries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Other_Reportable_Countries__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedCountries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedCountries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nestedSubForUSMDRformula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Assessments_on_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_single_Country_value_variable</name>
        <label>Set single Country value variable</label>
        <locationX>1388</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_SingleCountryValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SingleCountryFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_any_Asmt_for_Country</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Find_any_Asmt_for_Country</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find any Asmt for Country</label>
        <locationX>1388</locationX>
        <locationY>755</locationY>
        <assignNextValueToReference>currentItem_Find_any_Asmt_for_Country</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Assessments_on_Complaint</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_any_Asmt_for_Country.OLY_Country__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>var_SingleCountryValue</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Find_any_Asmt_for_Country.Id</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Find_pending_Asmt_for_Country</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Find_draft_Assessments</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find draft Assessments</label>
        <locationX>182</locationX>
        <locationY>2195</locationY>
        <assignNextValueToReference>currentItem_Find_pending_Asmt_for_Country</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Assessments_on_Complaint</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_pending_Asmt_for_Country.CMPL123_WF_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Open</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_draft_Assessments</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Find_pending_Asmt_for_Country</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find pending Asmt for Country</label>
        <locationX>1388</locationX>
        <locationY>863</locationY>
        <assignNextValueToReference>currentItem_Find_pending_Asmt_for_Country</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Assessments_on_Complaint</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_pending_Asmt_for_Country.OLY_Country__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>var_SingleCountryValue</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Find_pending_Asmt_for_Country.Id</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Find_pending_Asmt_for_Country.OLY_Is_Pending__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Asmts_for_Country</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>AUTOCLOSURE_ACTIVE_FLAG</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <name>con_CloseAsPTI</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Close as PTI</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_ComplaintInProgress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaint in Progress</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_ComplaintReview</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaint Review</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_CompleteInvestigation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete Investigation</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_Submit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_Canceled</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_Closed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_ComplaintReportabilityOUS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaint_Reportability_OUS</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_ComplaintReportabilityUS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaint_Reportability_US</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_any_Asmt_count</name>
        <label>Check any Asmt count</label>
        <locationX>1190</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Add_country_name_to_Additional_Asmt_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Asmt exists</defaultConnectorLabel>
        <rules>
            <name>No_Asmt_for_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>num_AnyAsmtForCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__CMPL123_WF_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>con_Submit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_country_name_to_Initial_Asmt_collection</targetReference>
            </connector>
            <label>No Asmt for Country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_draft_Assessments</name>
        <label>Check for draft Assessments</label>
        <locationX>182</locationX>
        <locationY>2411</locationY>
        <defaultConnector>
            <targetReference>OLY_Create_Country_based_Assessments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Draft_Assessments_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>num_DraftAssessments</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Draft_Asmt_loop</targetReference>
            </connector>
            <label>Draft Assessments exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Complaint_meets_PTI_criteria</name>
        <label>Check if Complaint meets PTI criteria</label>
        <locationX>380</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Non_PTI_Assessment_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not Meet PTI Criteria</defaultConnectorLabel>
        <rules>
            <name>Meets_PTI_criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Is_PTI_Eligible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Has_Post_Submission_Assessment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AUTOCLOSURE_ACTIVE_FLAG</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PTIAssessment_loop</targetReference>
            </connector>
            <label>Meets PTI criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Country_collections_for_Asmt_creation_are_empty</name>
        <label>Check if Country collections for Asmt creation are empty</label>
        <locationX>587</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_collections_for_Asmt_creation_have_values</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_InitialAsmtCountries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>col_AdditionalAsmtCountries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_parent_Complaint_on_reusable_Asmt_variable</targetReference>
            </connector>
            <label>Country collections for Asmt creation have values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_country_list_is_empty</name>
        <label>Check if country list is empty</label>
        <locationX>987</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Set_single_Country_value_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_list_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SelectedCountries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Country_collections_for_Asmt_creation_are_empty</targetReference>
            </connector>
            <label>Country list is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_pending_Asmt_count</name>
        <label>Check pending Asmt count</label>
        <locationX>1388</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Reset_Selected_Countries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pending Asmt exists</defaultConnectorLabel>
        <rules>
            <name>No_pending_Asmt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>num_PendingAsmtForCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_any_Asmt_count</targetReference>
            </connector>
            <label>No pending Asmt</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>check to see if selected countries contains USMDR dt</description>
        <name>containsUSMDRcountriesBool</name>
        <dataType>Boolean</dataType>
        <expression>OR(CONTAINS({!var_SelectedCountries}, &quot;Puerto Rico&quot;),CONTAINS({!var_SelectedCountries}, &quot;United States&quot;), CONTAINS({!var_SelectedCountries}, &quot;United States Virgin Islands&quot;))</expression>
    </formulas>
    <formulas>
        <name>countryCollectionContainsUSMDR</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!col_InitialAsmtCountries}, &quot;United States&quot;)</expression>
    </formulas>
    <formulas>
        <name>nestedSubForUSMDRformula</name>
        <dataType>String</dataType>
        <expression>IF(
CONTAINS({!var_SelectedCountries}, &quot;Puerto Rico&quot;) || CONTAINS({!var_SelectedCountries}, &quot;United States Virgin Islands&quot;), 
SUBSTITUTE(SUBSTITUTE({!var_SelectedCountries},  &quot;United States Virgin Islands;&quot;, &quot;&quot;), &quot;Puerto Rico;&quot;, &quot;&quot;) + &quot;United States;&quot;, 

IF(	AND(
	NOT({!$Record.zObligated_to_Report_to_USA__c}),
	CONTAINS({!$Record.OLY_Manufacturing_Country__c},&quot;USA&quot;)
	), SUBSTITUTE({!var_SelectedCountries}, &quot;United States;&quot;, &quot;&quot;), {!var_SelectedCountries}
  )
)</expression>
    </formulas>
    <formulas>
        <name>removePuertoRico</name>
        <dataType>String</dataType>
        <expression>Substitute({!var_SelectedCountries}, &quot;Puerto Rico;&quot;,&quot;United States&quot;)</expression>
    </formulas>
    <formulas>
        <name>removeUSMDRUSVirginIslands</name>
        <dataType>String</dataType>
        <expression>Substitute({!var_SelectedCountries}, &quot;United States Virgin Islands;&quot;, &quot;United States&quot;)</expression>
    </formulas>
    <formulas>
        <name>setUnitedStatesforUSMDRformula</name>
        <dataType>String</dataType>
        <expression>IF( AND({!hasUSMDRflag}, NOT(CONTAINS({!var_SelectedCountries}, &quot;United States&quot;))), &quot;United States;&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>pick the first value that ends with ;</description>
        <name>var_SingleCountryFormula</name>
        <dataType>String</dataType>
        <expression>TRIM(
SUBSTITUTE(
LEFT({!var_SelectedCountries}, FIND(&quot;;&quot;, {!var_SelectedCountries})), 
&quot;;&quot;,
&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <description>Removing the first single value from the selected country values</description>
        <name>var_UpdateSelectedCountryValues</name>
        <dataType>String</dataType>
        <expression>TRIM(
SUBSTITUTE({!var_SelectedCountries}, {!var_SingleCountryValue}+&quot;;&quot; ,  &quot;&quot;  )
)</expression>
    </formulas>
    <interviewLabel>Complaint - Autocreate Country Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complaint - Autocreate Country Assessment</label>
    <loops>
        <name>Draft_Asmt_loop</name>
        <label>Draft Asmt loop</label>
        <locationX>50</locationX>
        <locationY>2519</locationY>
        <collectionReference>Find_draft_Assessments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Asmt_Is_Changed_to_PTI_True</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Assessments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_Additional_Asmt_country</name>
        <label>For each Additional Asmt country</label>
        <locationX>380</locationX>
        <locationY>1271</locationY>
        <collectionReference>col_AdditionalAsmtCountries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Additional_Asmt_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Complaint_meets_PTI_criteria</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_Initial_Asmt_country</name>
        <label>For each Initial Asmt country</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <collectionReference>col_InitialAsmtCountries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Initial_Asmt_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_Additional_Asmt_country</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Non_PTI_Assessment_loop</name>
        <label>Non-PTI Assessment loop</label>
        <locationX>578</locationX>
        <locationY>1787</locationY>
        <collectionReference>rcol_CreateCountryAssessment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Non_PTI_Asmt_to_Final_Asmt_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OLY_Create_Country_based_Assessments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PTIAssessment_loop</name>
        <label>PTI Assessment loop</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <collectionReference>rcol_CreateCountryAssessment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_PTI_Defaults_on_Assessment_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_draft_Assessments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assessments_on_Complaint</name>
        <label>Get Assessments on Complaint</label>
        <locationX>987</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_country_list_is_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CMPL123CME__Complaint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OLY_Is_Canceled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CMPL123CME__Questionnaire__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OLY_Is_Changed_to_PTI__c</queriedFields>
        <queriedFields>OLY_Country__c</queriedFields>
        <queriedFields>OLY_Is_Pending__c</queriedFields>
        <queriedFields>CMPL123_WF_Status__c</queriedFields>
        <queriedFields>OLY_Type_of_Report__c</queriedFields>
        <queriedFields>OLY_Type_of_Reportable_Event__c</queriedFields>
        <queriedFields>OLY_Reportability_Rationale__c</queriedFields>
        <queriedFields>OLY_Assessment_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>861</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Reportable_Countries</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ((3 AND 4) OR (5 AND 6) OR (7 AND 8))</filterLogic>
        <filters>
            <field>CMPL123CME__Other_Reportable_Countries__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123CME__CMPL123_WF_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123CME__CMPL123_WF_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint in Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123CME__CMPL123_WF_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submit</stringValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123CME__CMPL123_WF_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123CME__CMPL123_WF_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete Investigation</stringValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123CME__CMPL123_WF_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123CME__CMPL123_WF_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Close as PTI</stringValue>
            </value>
        </filters>
        <object>CMPL123CME__Complaint__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txt_ReportabilityRationale_fromPTIs</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.OLY_PTI_Reportability_Rationale__c}

{!$Record.OLY_PTI_Non_Reportability_Justification__c}</text>
    </textTemplates>
    <variables>
        <name>col_AdditionalAsmtCountries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_InitialAsmtCountries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_UpdatedAssessments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Country_records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLY_Country__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Country_in_Assessments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_any_Asmt_for_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_pending_Asmt_for_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_pending_Asmt_for_Country_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLY_Country__c</objectType>
    </variables>
    <variables>
        <name>hasUSMDRflag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>input_Complaint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Complaint__c</objectType>
    </variables>
    <variables>
        <name>num_AnyAsmtForCountry</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>num_DraftAssessments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>num_PendingAsmtForCountry</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>rcol_CreateCountryAssessment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>rcol_FinalAsmtCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>rv_Assessment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>target_Country_Assessments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>var_OUS_Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectedCountries</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SingleCountryValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_US_Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
