force-app/main/default/flows/EMDR_Before_Save_Flow_TWD_23.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Clear_Value_from_TKV</name>
        <label>Clear Value from TKV</label>
        <locationX>1172</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__CMPL123Task_Key_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Importer_EMDR_submitted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Asmt_Complaint_from_Initial_EMDR</name>
        <label>Copy Asmt &amp; Complaint from Initial EMDR</label>
        <locationX>1370</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Initial_MDR__r.OLY_Assessment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__Complaint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Initial_MDR__r.CMPL123CME__Complaint__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_type_of_reporter_on_Suppl_EMDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Complaint_from_Asmt</name>
        <label>Copy Complaint from Asmt</label>
        <locationX>1106</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__Complaint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OLY_Assessment__r.CMPL123CME__Complaint__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_type_of_reporter_on_Suppl_EMDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Complaint_values</name>
        <label>Copy Complaint values</label>
        <locationX>446</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__A2_DOB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Date_of_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__A2_Age_Units_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.TWD_Age_Units__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__A2_Age_at_Time_of_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.TWD_Age_at_Time_of_Event__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__A3a_Sex__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__A4_Weight_Units_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Weight_Units__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__A4_Weight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Patient_Weight__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__A5_Ethnicity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Ethnicity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__A6_Race__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Race__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__B2_Date_of_Death__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Date_of_Death__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__B6_Relevant_Test_Laboratory_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Relevant_TestLaboratory_Data__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__B7_Other_Relevant_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Other_relevant_history__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D4_Lot_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Complaint_TWDProductLotNumber_trim100</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D4_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D4_Serial_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Complaint_TWDProductLotNumber_trim30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D5_Operator_of_Device__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_OperatorOfDevice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D5_Other_operator_of_Device__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_OperatorOfDeviceOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D6a_Implant_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Implant_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D6b_Explant_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Explant_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D7a_Single_Use_Device__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Is_this_a_recycled_single_use_device__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D7b_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Reprocessor_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D7b_Address_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Reprocessor_Address_Street_Line_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D7b_Address_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Reprocessor_Address_Street_Line_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D7b_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Reprocessor_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D7b_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Reprocessor_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D7b_E_mail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Reprocessor_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D7b_Fax_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Reprocessor_Fax_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D7b_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Reprocessor_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D7b_Region_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Reprocessor_State_Province_Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D7b_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Reprocessor_Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D7b_Zip_Code_Extension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Reprocessor_Zip_Code_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D8_Was_device_serviced_by_third_party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Was_device_serviced_by_third_party__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D9_Device_available_for_Eval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Device_available_for_evaluation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D9_Date_returned_to_Mfg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Product_Returned_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_Facility_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Complaint_CustomerFacilityHospitalName_trim50</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_Address_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Complaint_FacilityStreetAddressLine1_trim30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_Address2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Complaint_FacilityAddressLine2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Complaint_FacilityCity_trim30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_Region_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Facility_State_Province_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Complaint_FacilityZipCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_Zip_Code_Ext__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ComplaintZipExtension</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Facility_Country_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Complaint_PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_CustomerOrReporter_EmailAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_Fax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Reporter_Fax_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_CustomerOrReporter_PhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E4_Initial_Report_sent_to_FDA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Initial_reporter_sent_report_to_FDA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Concomitant_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Concomitant_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D4_Lot_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Complaint_TWDProductLotNumber_trim30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__A1_Patient_Identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Complaint_Name_numeric</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_CustomerOrReporter_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_CustomerOrReporter_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_Middle_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_CustomerOrReporter_MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E1_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_CustomerOrReporter_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__E3_Occupation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_CustomerOrReporter_Occupation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__A1_Patient_Identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Complaint_Name_numeric</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__B3_Date_of_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Date_of_Event__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__B3_Date_of_Event_Null__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Date_of_Event_Null_NI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__A3b_Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__Other_Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Other_Gender__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Product_values_to_Section_D</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Importer_Site_values_to_Section_F</name>
        <label>Copy Importer Site values to Section F</label>
        <locationX>50</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F3_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ImporterSite_Name_trim60</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F3_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Address_Line_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F3_Address2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Address_Line_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F3_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F3_Region_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_State_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F3_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F3_Zip_Code_Ext__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Zip_Code_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F3_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Country_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F3_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F4_Contact_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Contact_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F4_Contact_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Contact_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F4_Contact_Middle_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Contact_Middle_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F4_Contact_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Contact_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F3_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F5_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_RS_G1_Contact_Office_values_from_Importer_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Mfr_Site_values_to_Section_D</name>
        <label>Copy Mfr Site values to Section D</label>
        <locationX>314</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D3_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ManufacturerSite_AddressStreetLine1_trim30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D3_Address2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ManufacturerSite_AddressStreetLine2_trim30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D3_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ManufacturerSite_City_trim30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D3_Region_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_State_Province_Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D3_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D3_Zip_Code_Ext__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Zip_Code_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D3_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Country_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D3_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D3_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D3_Fax_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Fax_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D3_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ManufacturerSite_Name_trim50</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Manufacturer_EMDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Mfr_Site_values_to_Section_F</name>
        <label>Copy Mfr Site values to Section F</label>
        <locationX>50</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F14_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ManufacturerSite_AddressStreetLine1_trim30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F14_Address2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ManufacturerSite_AddressStreetLine2_trim30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F14_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ManufacturerSite_City_trim30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F14_Region_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_State_Province_Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F14_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F14_Zip_Code_Ext__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Zip_Code_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F14_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Country_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F14_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F14_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F14_Fax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Fax_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F14_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ManufacturerSite_Name_trim50</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Importer_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Mfr_Site_values_to_Section_G</name>
        <label>Copy Mfr Site values to Section G</label>
        <locationX>578</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Mfg_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ManufacturerSite_AddressStreetLine1_trim30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Mfg_Address_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ManufacturerSite_AddressStreetLine2_trim30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Mfg_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ManufacturerSite_City_trim30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Mfg_Site_Region_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_State_Province_Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Mfg_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Mfg_Zip_Code_Extension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Zip_Code_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Mfg_Site_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Country_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Mfg_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Mfg_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Mfg_Fax_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Fax_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Mfg_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ManufacturerSite_Name_trim50</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_RS_G1_Contact_Office_values_from_Mfr_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Product_values_to_Section_D</name>
        <label>Copy Product values to Section D</label>
        <locationX>446</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D1_Brand_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Product_ProductDescription_trim80</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D2_Common_Device_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Common_Device_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D2b_Procode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Procode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D4_Model_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Model_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__D4_Primary_UDI_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_UDI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Mfr_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Product_values_to_Sections_G_H</name>
        <label>Copy Product values to Sections G &amp; H</label>
        <locationX>710</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G4_PMA_510_k__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_PMA510k_trim12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__H5_Labeled_for_Single_Use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Labeled_for_Single_Use__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Investigation_is_completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_values_from_Initial_EMDR</name>
        <label>Copy values from Initial EMDR</label>
        <locationX>1238</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__Initial_Report_Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Initial_MDR__r.CMPL123CME__Initial_Report_Date_and_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F6_Date_facility_dist_was_aware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_DateOfAwareness</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G3_Date_received_by_Mfg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_DateOfAwareness</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Suppl_EMDR_has_Assessment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_values</name>
        <label>Initialize values</label>
        <locationX>512</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__CMPL123Rule_Key_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RKVF_eMDR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__CMPL123Task_Key_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__Submitted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__Submitted_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_NULL_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Refresh_and_Overwrite_Mapped_Values__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Submitted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_NULL_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Submission_Failed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Submission_Failed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_NULL_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Rework_Completed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Rework_Completed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_NULL_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_EMDR_Completed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_EMDR_Completed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_NULL_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_EMDR_Approved_and_Submitted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_EMDR_Approved_and_Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_NULL_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Closed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_NULL_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Not_Received_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Not_Received_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_NULL_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Resubmitted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Resubmitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_NULL_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Rework_Requested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Rework_Requested_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_NULL_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EMDR_Assigned_To_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OLY_Assessment__r.OLY_Closed_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Refresh_flag_to_False</name>
        <label>Reset Refresh flag to False</label>
        <locationX>776</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Refresh_and_Overwrite_Mapped_Values__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_B4_Report_Date</name>
        <label>Set B4 Report Date</label>
        <locationX>1172</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__B4_Report_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Value_from_TKV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fields B1, B5, H10</description>
        <name>Set_common_fields</name>
        <label>Set common fields</label>
        <locationX>446</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__Complaint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OLY_Assessment__r.CMPL123CME__Complaint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__B1_AdverseEvent_ProductProblem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_B1_AE_PR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__B5_Describe_Event_or_Problem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OLY_Assessment__r.OLY_Event_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__Become_Aware_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_DateOfAwareness</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__MDR_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OLY_Assessment__r.OLY_Initial_Report_Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EMDR_Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OLY_Assessment__r.OLY_Assessment_Completed_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EMDR_Assigned_To_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OLY_Assessment__r.OLY_Closed_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Complaint_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_F11_Report_Sent_to_FDA</name>
        <label>Set F11 Report Sent to FDA</label>
        <locationX>1040</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F11_Report_Sent_to_FDA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F11_Date_Report_Sent_to_FDA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_G6_Type_of_Report_Follow_Up</name>
        <label>Set G6 Type of Report = Follow Up</label>
        <locationX>1106</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G6_Type_of_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_FollowUp</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_H10_from_Investigation_Summary</name>
        <label>Set H10 from Investigation Summary</label>
        <locationX>578</locationX>
        <locationY>2783</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__H11_Additional_Mfg_Narrative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Complaint_TWDInvestigationSummaryandConclusion_trim32765</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_MDR_Submission_Ready_to_submit</name>
        <label>Set MDR Submission = Ready to submit</label>
        <locationX>1172</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__MDR_Submission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready to submit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_B4_Report_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RS_G1_Contact_Office_values_from_Importer_Site</name>
        <label>Set RS &amp; G1 Contact Office values (from Importer Site)</label>
        <locationX>50</locationX>
        <locationY>2675</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ImporterSite_RegisteredSite_G1ContactTitle_trim4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ImporterSite_RegisteredSite_G1ContactFirstName_trim15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Middle_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ImporterSite_RegisteredSite_G1ContactMiddleName_trim15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ImporterSite_RegisteredSite_G1ContactLastName_trim25</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Facility_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ImporterSite_RegisteredSite_Name_trim60</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ImporterSite_RegisteredSite_G1ContactOfficeAddress1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Address2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ImporterSite_RegisteredSite_G1ContactOfficeAddress2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ImporterSite_RegisteredSite_G1ContactOfficeCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ImporterSite_RegisteredSite_G1ContactOfficePostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ImporterSite_RegisteredSite_G1ContactOfficeZipCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Zip_Code_Extension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ImporterSite_RegisteredSite_G1ContactOfficeZipCodeExtension</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.CMPL123CME__G2_Contact_Office_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Region_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.OLY_Contact_Office_Region_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.OLY_Contact_Office_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Fax_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Fax_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_E_mail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_E_mail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__Registered_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_RS_G1_Contact_Office_values_from_Mfr_Site</name>
        <label>Set RS &amp; G1 Contact Office values (from Mfr Site)</label>
        <locationX>578</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_MfrSite_RegisteredSite_G1ContactTitle_trim4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_MfrSite_RegisteredSite_G1ContactFirstName_trim15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Middle_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_MfrSite_RegisteredSite_G1ContactMiddleName_trim15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_MfrSite_RegisteredSite_G1ContactLastName_trim25</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Facility_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_MfrSite_RegisteredSite_Name_trim60</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_MfrSite_RegisteredSite_G1ContactOfficeAddress1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Address2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_MfrSite_RegisteredSite_G1ContactOfficeAddress2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_MfrSite_RegisteredSite_G1ContactOfficeCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_MfrSite_RegisteredSite_G1ContactOfficePostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_MfrSite_RegisteredSite_G1ContactOfficeZipCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Zip_Code_Extension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_MfrSite_RegisteredSite_G1ContactOfficeZipCodeExtension</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.CMPL123CME__G2_Contact_Office_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Region_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.OLY_Contact_Office_Region_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.OLY_Contact_Office_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_Fax_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Fax_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Contact_Office_E_mail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_E_mail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__Registered_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G1_Mfg_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_ManufacturerSite_Name_trim50</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Product_values_to_Sections_G_H</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Section_F_values</name>
        <label>Set Section F values</label>
        <locationX>182</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F7_Type_Report_Device__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Initial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F13_Date_Report_Sent_to_MFG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_DateOfAwareness_Importer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F13_Report_Sent_to_MFG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F1_Type_of_Reporter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Importer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__F6_Date_facility_dist_was_aware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_DateOfAwareness</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Mfr_Site_for_Importer_EMDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Section_G_H_values</name>
        <label>Set Section G &amp; H values</label>
        <locationX>710</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G2_Report_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Report_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G2_Other_Report_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Report_Source_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__H7_If_Remedical_Action_Init__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_If_Remedial_Action_initiated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__H7_Other_Remedial_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Other_Remedial_Action__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__H8_Usage_of_Device__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Usage_of_Device__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__H4_Device_mfg_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.OLY_Manufacture_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G3_Date_received_by_Mfg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_DateOfAwareness</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__H9_Correction_Removal_Report_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_Complaint_USFieldAction_trim50</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G4_Combination_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__H1_Type_of_Reportable_Event_2021__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_H1_TypeOfReportableEvent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__G6_Type_of_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_G6_TypeOfReport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Mfr_Site_for_Mfr_EMDR</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>con_NI</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NI</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_NULL_date</name>
        <dataType>Date</dataType>
    </constants>
    <constants>
        <name>RecType_Initial</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Initial</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecType_Initial_Awaiting_ACK</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Initial_Awaiting_ACK</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecType_Offline</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Offline</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecType_Supplemental</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Supplemental</stringValue>
        </value>
    </constants>
    <constants>
        <name>RKVF_eMDR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>eMDR</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_ApproveAndSubmitReport</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve and Submit Report</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_Close</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Close</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_ClosedCanceled</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Canceled</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_ClosedSubmitted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Submitted</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_FollowUp</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow Up</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_Initial</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Initial</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_InProgress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_NotReceived</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>txt_Opened</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Opened</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_SubmissionFailed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Submission Failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_SubmissionInProgress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Submission In Progress</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_flow_path_criteria</name>
        <label>Check flow path criteria</label>
        <locationX>1040</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_new_record</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>frm_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecType_Initial</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecType_Supplemental</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_values</targetReference>
            </connector>
            <label>Is new record</label>
        </rules>
        <rules>
            <name>Refresh_True</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Refresh_and_Overwrite_Mapped_Values__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__CMPL123_WF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>txt_Opened</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__CMPL123_WF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>txt_InProgress</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Assessment__r.CMPL123CME__Complaint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Refresh_flag_to_False</targetReference>
            </connector>
            <label>Refresh = True</label>
        </rules>
        <rules>
            <name>WF_Status_Submission_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__CMPL123_WF_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__CMPL123_WF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>txt_SubmissionInProgress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MDR_Submission_Ready_to_submit</targetReference>
            </connector>
            <label>WF Status = Submission In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Importer_Site</name>
        <label>Check for Importer Site</label>
        <locationX>182</locationX>
        <locationY>2459</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_has_Importer_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Importer_Site_values_to_Section_F</targetReference>
            </connector>
            <label>Product has Importer Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Mfr_Site</name>
        <label>Check for Mfr Site</label>
        <locationX>446</locationX>
        <locationY>1643</locationY>
        <defaultConnector>
            <targetReference>Check_if_Manufacturer_EMDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_has_Mfr_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Mfr_Site_values_to_Section_D</targetReference>
            </connector>
            <label>Product has Mfr Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Mfr_Site_for_Importer_EMDR</name>
        <label>Check for Mfr Site (for Importer EMDR)</label>
        <locationX>182</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Check_for_Importer_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Mfr_Site_for_Importer_EMDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Mfr_Site_values_to_Section_F</targetReference>
            </connector>
            <label>Has Mfr Site (for Importer EMDR)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Mfr_Site_for_Mfr_EMDR</name>
        <label>Check for Mfr Site (for Mfr EMDR)</label>
        <locationX>710</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Copy_Product_values_to_Sections_G_H</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Mfr_Site_for_Mfr_EMDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Mfr_Site_values_to_Section_G</targetReference>
            </connector>
            <label>Has Mfr Site (for Mfr EMDR)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Importer_EMDR_submitted</name>
        <label>Check if Importer EMDR submitted</label>
        <locationX>1172</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>Importer Report False</defaultConnectorLabel>
        <rules>
            <name>Importer_EMDR_was_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frm_IsImporterReport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_F11_Report_Sent_to_FDA</targetReference>
            </connector>
            <label>Importer EMDR was submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Investigation_is_completed</name>
        <label>Check if Investigation is completed</label>
        <locationX>710</locationX>
        <locationY>2675</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Investigation_is_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__Complaint__r.TWD_Is_Investigation_Still_In_Progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_H10_from_Investigation_Summary</targetReference>
            </connector>
            <label>Investigation is completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Manufacturer_EMDR</name>
        <label>Check if Manufacturer EMDR</label>
        <locationX>446</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>Set_Section_G_H_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manufacturer EMDR = true</defaultConnectorLabel>
        <rules>
            <name>Importer_EMDR_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frm_IsImporterReport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Section_F_values</targetReference>
            </connector>
            <label>Importer EMDR = true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Suppl_EMDR_has_Assessment</name>
        <label>Check if Suppl EMDR has Assessment</label>
        <locationX>1238</locationX>
        <locationY>1427</locationY>
        <defaultConnector>
            <targetReference>Copy_Asmt_Complaint_from_Initial_EMDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Suppl EMDR does not have Assessment</defaultConnectorLabel>
        <rules>
            <name>Suppl_EMDR_has_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Assessment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Complaint_from_Asmt</targetReference>
            </connector>
            <label>Suppl EMDR has Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>1040</locationX>
        <locationY>1211</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Initial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecType_Initial</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_common_fields</targetReference>
            </connector>
            <label>Record Type = Initial</label>
        </rules>
        <rules>
            <name>Record_Type_Supplemental_and_Initial_EMDR_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecType_Supplemental</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__Initial_MDR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_values_from_Initial_EMDR</targetReference>
            </connector>
            <label>Record Type = Supplemental and Initial EMDR exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_type_of_reporter_on_Suppl_EMDR</name>
        <label>Check type of reporter on Suppl EMDR</label>
        <locationX>1238</locationX>
        <locationY>1727</locationY>
        <defaultConnectorLabel>Suppl EMDR Reporter = Importer</defaultConnectorLabel>
        <rules>
            <name>Suppl_EMDR_Reporter_Manufacturer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frm_IsImporterReport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_G6_Type_of_Report_Follow_Up</targetReference>
            </connector>
            <label>Suppl EMDR Reporter = Manufacturer</label>
        </rules>
    </decisions>
    <description>Created a new flow as the old flow already reached the version limit.</description>
    <environments>Default</environments>
    <formulas>
        <name>fld_Complaint_CustomerFacilityHospitalName_trim50</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.OLY_Customer_Facility_Hospital_Name__c}, 50 )</expression>
    </formulas>
    <formulas>
        <name>fld_Complaint_FacilityAddressLine2</name>
        <dataType>String</dataType>
        <expression>IF(AND(
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_First_Name__c})),
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Last_Name__c}))
),
&apos;&apos;,
LEFT({!$Record.CMPL123CME__Complaint__r.OLY_Facility_Street_Address_Line_2__c}, 30 )
)</expression>
    </formulas>
    <formulas>
        <name>fld_Complaint_FacilityCity_trim30</name>
        <dataType>String</dataType>
        <expression>IF(AND(
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_First_Name__c})),
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Last_Name__c}))
),
&apos;&apos;,
LEFT( {!$Record.CMPL123CME__Complaint__r.OLY_Facility_City__c}, 30 )
)</expression>
    </formulas>
    <formulas>
        <name>fld_Complaint_FacilityStreetAddressLine1_trim30</name>
        <dataType>String</dataType>
        <expression>IF(AND(
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_First_Name__c})),
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Last_Name__c}))
),
LEFT({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Facility_Hospital_Address__c} , 30 ),
LEFT( {!$Record.CMPL123CME__Complaint__r.OLY_Facility_Street_Address_Line_1__c}, 30 )
)</expression>
    </formulas>
    <formulas>
        <name>fld_Complaint_FacilityZipCode</name>
        <dataType>String</dataType>
        <expression>IF(AND(
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_First_Name__c})),
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Last_Name__c}))
),
&apos;&apos;,
{!$Record.CMPL123CME__Complaint__r.OLY_Facility_Zip_Code__c}
)</expression>
    </formulas>
    <formulas>
        <name>fld_Complaint_Name_numeric</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!$Record.CMPL123CME__Complaint__r.Name},  &quot;CN-&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fld_Complaint_PostalCode</name>
        <dataType>String</dataType>
        <expression>IF(AND(
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_First_Name__c})),
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Last_Name__c}))
),
&apos;&apos;,
{!$Record.CMPL123CME__Complaint__r.OLY_Facility_Postal_Code__c}
)</expression>
    </formulas>
    <formulas>
        <name>fld_Complaint_TWDInvestigationSummaryandConclusion_trim32765</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.TWD_Investigation_Summary_and_Conclusion__c}, 32765 )</expression>
    </formulas>
    <formulas>
        <name>fld_Complaint_TWDProductLotNumber_trim100</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.TWD_Product_Lot_Number__c}, 100 )</expression>
    </formulas>
    <formulas>
        <description>used for field D4_Serial #</description>
        <name>fld_Complaint_TWDProductLotNumber_trim30</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.TWD_Product_Lot_Number__c}, 30)</expression>
    </formulas>
    <formulas>
        <name>fld_Complaint_USFieldAction_trim50</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.OLY_US_Field_Action__c}, 50 )</expression>
    </formulas>
    <formulas>
        <name>fld_ComplaintZipExtension</name>
        <dataType>String</dataType>
        <expression>IF(AND(
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_First_Name__c})),
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Last_Name__c}))
),
&apos;&apos;,
{!$Record.CMPL123CME__Complaint__r.OLY_Facility_Zip_Code_Extension__c}
)</expression>
    </formulas>
    <formulas>
        <name>fld_Date_of_Event_Null_NI</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.CMPL123CME__Complaint__r.OLY_Date_of_Event_Unknown__c} , &apos;NI&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fld_ImporterSite_Name_trim60</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.Name}, 60 )</expression>
    </formulas>
    <formulas>
        <name>fld_ImporterSite_RegisteredSite_G1ContactFirstName_trim15</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_First_Name__c}, 15 )</expression>
    </formulas>
    <formulas>
        <name>fld_ImporterSite_RegisteredSite_G1ContactLastName_trim25</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Last_Name__c}, 25 )</expression>
    </formulas>
    <formulas>
        <name>fld_ImporterSite_RegisteredSite_G1ContactMiddleName_trim15</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Middle_Name__c}, 15 )</expression>
    </formulas>
    <formulas>
        <name>fld_ImporterSite_RegisteredSite_G1ContactOfficeAddress1</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Address_1__c}, 30 )</expression>
    </formulas>
    <formulas>
        <name>fld_ImporterSite_RegisteredSite_G1ContactOfficeAddress2</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Address_2__c}, 30 )</expression>
    </formulas>
    <formulas>
        <name>fld_ImporterSite_RegisteredSite_G1ContactOfficeCity</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_City__c}, 30 )</expression>
    </formulas>
    <formulas>
        <name>fld_ImporterSite_RegisteredSite_G1ContactOfficePostalCode</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Postal_Code__c}, 10 )</expression>
    </formulas>
    <formulas>
        <name>fld_ImporterSite_RegisteredSite_G1ContactOfficeZipCode</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Zip_Code__c}, 5 )</expression>
    </formulas>
    <formulas>
        <name>fld_ImporterSite_RegisteredSite_G1ContactOfficeZipCodeExtension</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Zip_Code_Extension__c}, 4 )</expression>
    </formulas>
    <formulas>
        <name>fld_ImporterSite_RegisteredSite_G1ContactTitle_trim4</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Title__c}, 4 )</expression>
    </formulas>
    <formulas>
        <name>fld_ImporterSite_RegisteredSite_Name_trim60</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Importer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Facility_Name__c}, 60 )</expression>
    </formulas>
    <formulas>
        <name>fld_ManufacturerSite_AddressStreetLine1_trim30</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Address_Street_Line_1__c}, 30 )</expression>
    </formulas>
    <formulas>
        <name>fld_ManufacturerSite_AddressStreetLine2_trim30</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Address_Street_Line_2__c}, 30 )</expression>
    </formulas>
    <formulas>
        <name>fld_ManufacturerSite_City_trim30</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_City__c}, 30 )</expression>
    </formulas>
    <formulas>
        <name>fld_ManufacturerSite_ContactFirstName_trim15</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Contact_First_Name__c}, 15 )</expression>
    </formulas>
    <formulas>
        <name>fld_ManufacturerSite_ContactLastName_trim25</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Contact_Last_Name__c}, 25 )</expression>
    </formulas>
    <formulas>
        <name>fld_ManufacturerSite_ContactMiddleName_trim15</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Contact_Middle_Name__c}, 15 )</expression>
    </formulas>
    <formulas>
        <name>fld_ManufacturerSite_ContactTitle_trim4</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Contact_Title__c}, 4 )</expression>
    </formulas>
    <formulas>
        <name>fld_ManufacturerSite_Name_trim50</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.Name}, 50 )</expression>
    </formulas>
    <formulas>
        <name>fld_ManufacturerSite_Name_trim60</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.Name}, 60 )</expression>
    </formulas>
    <formulas>
        <name>fld_MfrSite_RegisteredSite_G1ContactFirstName_trim15</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_First_Name__c}, 15 )</expression>
    </formulas>
    <formulas>
        <name>fld_MfrSite_RegisteredSite_G1ContactLastName_trim25</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Last_Name__c}, 25 )</expression>
    </formulas>
    <formulas>
        <name>fld_MfrSite_RegisteredSite_G1ContactMiddleName_trim15</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Middle_Name__c}, 15 )</expression>
    </formulas>
    <formulas>
        <name>fld_MfrSite_RegisteredSite_G1ContactOfficeAddress1</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Address_1__c}, 30 )</expression>
    </formulas>
    <formulas>
        <name>fld_MfrSite_RegisteredSite_G1ContactOfficeAddress2</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Address_2__c}, 30 )</expression>
    </formulas>
    <formulas>
        <name>fld_MfrSite_RegisteredSite_G1ContactOfficeCity</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_City__c}, 30 )</expression>
    </formulas>
    <formulas>
        <name>fld_MfrSite_RegisteredSite_G1ContactOfficePostalCode</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Postal_Code__c}, 10 )</expression>
    </formulas>
    <formulas>
        <name>fld_MfrSite_RegisteredSite_G1ContactOfficeZipCode</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Zip_Code__c}, 5 )</expression>
    </formulas>
    <formulas>
        <name>fld_MfrSite_RegisteredSite_G1ContactOfficeZipCodeExtension</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Zip_Code_Extension__c}, 4 )</expression>
    </formulas>
    <formulas>
        <name>fld_MfrSite_RegisteredSite_G1ContactTitle_trim4</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Title__c}, 4 )</expression>
    </formulas>
    <formulas>
        <name>fld_MfrSite_RegisteredSite_Name_trim60</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_Manufacturer_Site__r.OLY_Registered_Site__r.CMPL123CME__G1_Contact_Office_Facility_Name__c}, 60 )</expression>
    </formulas>
    <formulas>
        <name>fld_PMA510k_trim12</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.OLY_PMA_510k__c},12)</expression>
    </formulas>
    <formulas>
        <name>fld_Product_ProductDescription_trim80</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.CMPL123CME__Complaint__r.CMPL123CME__Product__r.CMPL123__Product_Description__c}, 80 )</expression>
    </formulas>
    <formulas>
        <name>frm_B1_AE_PR</name>
        <dataType>String</dataType>
        <expression>IF( INCLUDES( {!$Record.OLY_Assessment__r.OLY_Type_of_Reportable_Event__c}, &quot;Death&quot; ) 
    || INCLUDES( {!$Record.OLY_Assessment__r.OLY_Type_of_Reportable_Event__c}, &quot;Serious Injury&quot; ), &quot;Adverse Event;&quot;, &quot;&quot;) 
&amp;
IF( INCLUDES( {!$Record.OLY_Assessment__r.OLY_Type_of_Reportable_Event__c}, &quot;Malfunction&quot;), &quot;Product Problem;&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>frm_CustomerOrReporter_EmailAddress</name>
        <dataType>String</dataType>
        <expression>IF(AND(
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_First_Name__c})),
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Last_Name__c}))
),
{!$Record.CMPL123CME__Complaint__r.OLY_Customer_Email__c},
{!$Record.CMPL123CME__Complaint__r.TWD_Email__c}
)</expression>
    </formulas>
    <formulas>
        <name>frm_CustomerOrReporter_FirstName</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_First_Name__c})),
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Last_Name__c}))
),
{!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_First_Name__c},
{!$Record.CMPL123CME__Complaint__r.OLY_Reporter_First_Name__c} 
)</expression>
    </formulas>
    <formulas>
        <name>frm_CustomerOrReporter_LastName</name>
        <dataType>String</dataType>
        <expression>IF(AND(
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_First_Name__c})),
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Last_Name__c}))
),
LEFT( {!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Last_Name__c}, 25 ),
LEFT( {!$Record.CMPL123CME__Complaint__r.OLY_Reporter_Last_Name__c}, 25 )
)</expression>
    </formulas>
    <formulas>
        <name>frm_CustomerOrReporter_MiddleName</name>
        <dataType>String</dataType>
        <expression>IF(AND(
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_First_Name__c})),
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Last_Name__c}))
),
{!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Middle_Name__c},
{!$Record.CMPL123CME__Complaint__r.OLY_Reporter_Middle_Name__c} )</expression>
    </formulas>
    <formulas>
        <name>frm_CustomerOrReporter_Occupation</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISPICKVAL( {!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Occupation__c}, &quot;&quot; )),
TEXT({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Occupation__c}),
TEXT({!$Record.CMPL123CME__Complaint__r.OLY_Reporter_Occupation__c}) )</expression>
    </formulas>
    <formulas>
        <name>frm_CustomerOrReporter_PhoneNumber</name>
        <dataType>String</dataType>
        <expression>IF(AND(
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_First_Name__c})),
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Last_Name__c}))
), 
{!$Record.CMPL123CME__Complaint__r.TWD_Phone_2__c}, 
{!$Record.CMPL123CME__Complaint__r.TWD_Phone_1__c})</expression>
    </formulas>
    <formulas>
        <name>frm_CustomerOrReporter_Title</name>
        <dataType>String</dataType>
        <expression>IF(AND(
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_First_Name__c})),
NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Last_Name__c}))
),
{!$Record.CMPL123CME__Complaint__r.OLY_Customer_Contact_Title__c},
{!$Record.CMPL123CME__Complaint__r.OLY_Reporter_Title__c} )</expression>
    </formulas>
    <formulas>
        <name>frm_DateOfAwareness</name>
        <dataType>Date</dataType>
        <expression>IF( ISBLANK( {!$Record.OLY_Assessment__r.OLY_New_Information_Aware_Date__c} ),
{!$Record.OLY_Assessment__r.CMPL123CME__Complaint__r.CMPL123CME__Date_of_Awareness__c},
{!$Record.OLY_Assessment__r.OLY_New_Information_Aware_Date__c})</expression>
    </formulas>
    <formulas>
        <name>frm_DateOfAwareness_Importer</name>
        <dataType>Date</dataType>
        <expression>IF( {!frm_IsImporterReport}, {!frm_DateOfAwareness}, NULL)</expression>
    </formulas>
    <formulas>
        <description>If Initial: return Date of Awareness
else: return New Information Aware Date</description>
        <name>frm_DateOfAwareness_Mfr</name>
        <dataType>Date</dataType>
        <expression>IF( NOT( {!frm_IsImporterReport} ), {!frm_DateOfAwareness}, NULL)</expression>
    </formulas>
    <formulas>
        <name>frm_G6_TypeOfReport</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.RecordType.Name} = {!txt_Initial}, {!txt_Initial}, {!txt_FollowUp} )
&amp; IF( INCLUDES( {!$Record.OLY_Assessment__r.OLY_Type_of_Report__c}, &quot;5-day&quot; ), &quot;;5-day&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>frm_H1_TypeOfReportableEvent</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES({!$Record.OLY_Assessment__r.OLY_Type_of_Reportable_Event__c}, &quot;Death&quot;), &quot;Death&quot;,
 IF(INCLUDES({!$Record.OLY_Assessment__r.OLY_Type_of_Reportable_Event__c}, &quot;Serious Injury&quot;), &quot;Serious Injury&quot;,
  IF(INCLUDES({!$Record.OLY_Assessment__r.OLY_Type_of_Reportable_Event__c}, &quot;Malfunction&quot;),&quot;Malfunction&quot;, &quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <name>frm_IsImporterReport</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL( {!$Record.CMPL123CME__F1_Type_of_Reporter__c}, &quot;Importer&quot;),
ISPICKVAL( {!$Record.CMPL123CME__F1_Type_of_Reporter__c}, &quot;User Facility&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>frm_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>frm_OperatorOfDevice</name>
        <dataType>String</dataType>
        <expression>IF(
    {!frm_OperatorOfDevice_IsInHL7},
	TEXT($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c),
    IF(
        OR(
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Audiologist&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Biomedical Engineer&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Dental Assistant&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Dental Hygienist&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Dentist&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Dietician&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Emergency Medical Technician&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Home Health Aide&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Hospital Service Technician&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Medical Assistant&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Medical Technologist&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Nuclear Medicine Technologist&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Nurse&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Nursing Assistant&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Occupational Therapist&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Other Health Care Professional&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Paramedic&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Pharmacist&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Phlebotomist&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Physical Therapist&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Physician&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Physician Assistant&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Radiologic Technologist&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Respiratory Therapist&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Risk Manager&quot;),
            ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Speech Therapist&quot;)
        ),
        &quot;Health Professional&quot;,
        IF(
            OR(
                ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Patient&quot;),
                ISPICKVAL($Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c, &quot;Patient Family Member/Friend&quot;)
            ),
            &quot;Patient/Consumer&quot;,&quot;Other&quot;
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>frm_OperatorOfDevice_IsInHL7</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISPICKVAL( {!$Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c}, &quot;Health Professional&quot; ),
ISPICKVAL( {!$Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c}, &quot;Patient/Consumer&quot; ),
ISPICKVAL( {!$Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c}, &quot;Other&quot; ),
ISPICKVAL( {!$Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c}, &quot;NA&quot; ),
ISPICKVAL( {!$Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c}, &quot;NI&quot; ),
ISPICKVAL( {!$Record.CMPL123CME__Complaint__r.OLY_Device_Operator__c}, &quot;ASKU&quot; )
)</expression>
    </formulas>
    <formulas>
        <name>frm_OperatorOfDeviceOther</name>
        <dataType>String</dataType>
        <expression>LEFT(
{!$Record.CMPL123CME__Complaint__r.OLY_Operator_of_Device_Other__c}
&amp;
IF( NOT({!frm_OperatorOfDevice_IsInHL7}), 
    IF( NOT(ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Operator_of_Device_Other__c})), &quot;; &quot;, &quot;&quot;)
        &amp; {!frm_OperatorOfDevice},
    &quot;&quot;
)
, 40)</expression>
    </formulas>
    <formulas>
        <name>null_A2_DOB</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Date_of_Birth__c}),
{!con_NI}, null)</expression>
    </formulas>
    <formulas>
        <name>null_B2_Death_Date</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Date_of_Death__c}),
{!con_NI}, null)</expression>
    </formulas>
    <formulas>
        <name>null_B3_Date_of_Event</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!$Record.CMPL123CME__Complaint__r.OLY_Date_of_Event__c}),
{!con_NI}, null)</expression>
    </formulas>
    <interviewLabel>EMDR - Before Save Flow (TWD) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EMDR - Before Save Flow (TWD) 23</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_flow_path_criteria</targetReference>
        </connector>
        <object>CMPL123CME__EMDR__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
