force-app/main/default/flows/OLY_Complaint_PTI_Eligibility_bsf.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Customer_Letter_Attached_to_No</name>
        <label>Set Customer Letter Attached to No</label>
        <locationX>490</locationX>
        <locationY>1259</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Customer_Letter_Attached__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Is_PTI_Eligible_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Is_PTI_Eligible_False</name>
        <label>Set Is PTI Eligible = False</label>
        <locationX>671</locationX>
        <locationY>2387</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Is_PTI_Eligible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_PTI_Applicable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_PTI_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_PTI_Reportability_Rationale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_PTI_Investigation_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_PTI_Non_Reportability_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Is_PTI_Eligible_False2</name>
        <label>Set Is PTI Eligible = False</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Is_PTI_Eligible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_PTI_eligibility_in_target_state</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Is_PTI_Eligible_True</name>
        <label>Set Is PTI Eligible = True</label>
        <locationX>710</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Is_PTI_Eligible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PTI_eligibility_in_target_state</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PTI_Applicable_No</name>
        <label>Set PTI Applicable? = No</label>
        <locationX>1172</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_PTI_Applicable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_PTI_Applicable_Yes</name>
        <label>Set PTI Applicable? = Yes</label>
        <locationX>908</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_PTI_Applicable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_PTI_Selection_Criteria_Changed_False</name>
        <label>Set PTI Selection Criteria Changed = False</label>
        <locationX>1293</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Is_PTI_Selection_Criteria_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_No_Impact_Outcomes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PTI_Selection_Criteria_Changed_True</name>
        <label>Set PTI Selection Criteria Changed = True</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Is_PTI_Selection_Criteria_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Is_PTI_Eligible_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TKV_PTI_Closure</name>
        <label>Set TKV = PTI Closure</label>
        <locationX>622</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123Task_Key_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PTI Closure - Complaint</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Customer_Letter_Attached_Value</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AUTOCLOSURE_ACTIVE_FLAG</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <name>txt_ComplaintInProgress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaint in Progress</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Customer_Letter_Attached_Value</name>
        <label>Check Customer Letter Attached Value</label>
        <locationX>622</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Set_Is_PTI_Eligible_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Letter is not Blank</defaultConnectorLabel>
        <rules>
            <name>Customer_Letter_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Customer_Letter_Attached__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Letter_Attached_to_No</targetReference>
            </connector>
            <label>Customer Letter is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PTI_selection_criteria_changed</name>
        <label>Check if PTI selection criteria changed</label>
        <locationX>671</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Set_PTI_Selection_Criteria_Changed_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Return_or_Coding_Group_changed</name>
            <conditionLogic>((1 OR 2) AND 3 AND 4) OR (5 AND 6) OR 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OLY_Product_Return_Expected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OLY_Product_Return_Expected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Product_Return_Expected__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Product_Return_Expected__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OLY_Product_Return_Expected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Product_Return_Expected__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CMPL123CME__Product__r.OLY_Product_Coding_Group__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CMPL123CME__Product__r.OLY_Product_Coding_Group__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PTI_Selection_Criteria_Changed_True</targetReference>
            </connector>
            <label>Product Return or Coding Group changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PTI_eligibility_criteria</name>
        <label>Check PTI eligibility criteria</label>
        <locationX>1293</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Set_Is_PTI_Eligible_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is not eligible for PTI</defaultConnectorLabel>
        <rules>
            <name>Is_eligible_for_PTI</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Has_Death_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Has_PTI_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Has_Non_PTI_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Product_Return_Expected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Product_Return_Expected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Product_Return_Expected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_WF_Action</targetReference>
            </connector>
            <label>Is eligible for PTI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PTI_eligibility_during_current_step</name>
        <label>Check PTI eligibility during current step</label>
        <locationX>710</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Set_Is_PTI_Eligible_False2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Return_Expected_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frm_ProductReturnExpected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_PTI_Eligible_True</targetReference>
            </connector>
            <label>Product Return Expected = True</label>
        </rules>
        <rules>
            <name>Meets_PTI_closure_requirements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frm_MeetsClosureRequirements</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Has_Post_Submission_Investigation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Auto_Closure_Active</targetReference>
            </connector>
            <label>Meets PTI closure requirements</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PTI_eligibility_in_target_state</name>
        <label>Check PTI eligibility in target state</label>
        <locationX>1040</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Set_PTI_Applicable_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WF_Status_Open</name>
            <conditionLogic>(1 AND 6 AND (2 OR 3)) OR (3 AND (4 OR 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__CMPL123_WF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>frm_ProductReturnExpected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>frm_MeetsClosureRequirements</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__CMPL123_WF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint in Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__CMPL123_WF_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close as PTI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Has_Post_Submission_Investigation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PTI_Applicable_Yes</targetReference>
            </connector>
            <label>WF Status = Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WF_Action</name>
        <label>Check WF Action</label>
        <locationX>1040</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Check_PTI_eligibility_in_target_state</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WF_Action_Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__CMPL123_WF_Action__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__CMPL123_WF_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PTI_eligibility_during_current_step</targetReference>
            </connector>
            <label>WF Action = Submit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Auto_Closure_Active</name>
        <label>Is Auto-Closure Active</label>
        <locationX>776</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Set_Is_PTI_Eligible_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Auto-Closure is NOT Active</defaultConnectorLabel>
        <rules>
            <name>Auto_Closure_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AUTOCLOSURE_ACTIVE_FLAG</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_TKV_PTI_Closure</targetReference>
            </connector>
            <label>Auto-Closure is Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frm_HasPatientImpactValues</name>
        <dataType>Boolean</dataType>
        <expression>OR(
   ISPICKVAL( {!$Record.OLY_Patient_Impacted__c}, &apos;Yes&apos;),
   ISPICKVAL( {!$Record.OLY_Death_Injury_or_Infection_Likely__c}, &apos;Yes&apos;),
   ISPICKVAL( {!$Record.OLY_Death_Injury_or_Infection_Occurred__c}, &apos;Yes&apos;),
   FIND( &apos;[&apos; &amp; TEXT({!$Record.OLY_Patient_Outcome__c}) &amp; &apos;]&apos;, {!Get_No_Impact_Outcomes.OLY_Value__c})=0
)</expression>
    </formulas>
    <formulas>
        <name>frm_MeetsClosureRequirements</name>
        <dataType>Boolean</dataType>
        <expression>OR (
AND(
     NOT( {!frm_UnmetCustomerLetterRequirements} ),
     NOT( {!$Record.OLY_Has_Pending_Action__c} ) 
),
     {!AUTOCLOSURE_ACTIVE_FLAG}=False
)</expression>
    </formulas>
    <formulas>
        <name>frm_OpenOrInProgress</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    {!$Record.CMPL123CME__CMPL123_WF_Status__c} = &apos;Open&apos;,
    {!$Record.CMPL123CME__CMPL123_WF_Status__c} = &apos;Complaint in Progress&apos;
)</expression>
    </formulas>
    <formulas>
        <name>frm_OpenOrSubmitting</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    {!$Record.CMPL123CME__CMPL123_WF_Status__c} = &apos;Open&apos;,
    AND(
        ISCHANGED( {!$Record.CMPL123CME__CMPL123_WF_Action__c} ),
        {!$Record.CMPL123CME__CMPL123_WF_Action__c} = &apos;Submit&apos;
    )
)</expression>
    </formulas>
    <formulas>
        <name>frm_ProductReturnExpected</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    ISPICKVAL({!$Record.OLY_Product_Return_Expected__c}, &apos;Yes&apos; ),
    ISPICKVAL({!$Record.OLY_Product_Return_Expected__c}, &apos;Other&apos; )
)</expression>
    </formulas>
    <formulas>
        <name>frm_UnmetCustomerLetterRequirements</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    ISBLANK({!$Record.OLY_Customer_Letter_Sent_Date__c}),
   OR(ISPICKVAL({!$Record.OLY_Customer_Letter_Required__c},&apos;Yes&apos;),
         {!$Record.OLY_Customer_Letter_Required_Regulation__c}=TRUE)
 )</expression>
    </formulas>
    <interviewLabel>Complaint - PTI Eligibility bsf {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complaint - PTI Eligibility bsf</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_No_Impact_Outcomes</name>
        <label>Get No Impact Outcomes</label>
        <locationX>1293</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PTI_eligibility_criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No_Patient_Impact_Outcomes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OLY_Olympus_Settings__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OLY_Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>545</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_PTI_selection_criteria_changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CMPL123CME__CMPL123_WF_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123CME__CMPL123_WF_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint in Progress</stringValue>
            </value>
        </filters>
        <object>CMPL123CME__Complaint__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
