force-app/main/default/flows/OLY_Assessment_Before_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Copy_KV_from_Country</name>
        <label>Copy KV from Country</label>
        <locationX>798</locationX>
        <locationY>2807</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__Key_value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country.OLY_Assessment_Type__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_KV_from_parent_Questionnaire</name>
        <label>Copy KV from parent Questionnaire</label>
        <locationX>1106</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__Key_value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Questionnaire__r.CMPL123CME__Key_Value__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_Reportability_Rationale_based_on_PTIs</name>
        <label>Copy Reportability Rationale based on PTIs</label>
        <locationX>1020</locationX>
        <locationY>3851</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Reportability_Rationale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_RptRationale_NonRptJustification</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_values_from_Country_record</name>
        <label>Copy values from Country record</label>
        <locationX>710</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Country_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country.OLY_Country_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AsmtRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Asmt_Template_based_on_KV_from_Country_Asmt_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_pending_Assessments</name>
        <label>Count pending Assessments</label>
        <locationX>512</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>num_PendingSiblingAsmts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_pending_Asmts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_pending_Asmt_exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asmt_Narrative_Event_Description</name>
        <label>Set Asmt Narrative = Event Description</label>
        <locationX>578</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Event_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__r.CMPL123CME__Event_Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asmt_Type_Additional</name>
        <label>Set Asmt Type = Additional</label>
        <locationX>380</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Assessment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Additional</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_pending_Asmts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asmt_Type_Initial</name>
        <label>Set Asmt Type = Initial</label>
        <locationX>644</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Assessment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_pending_Asmts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Pending_Sibling_False</name>
        <label>Set Has Pending Sibling = False</label>
        <locationX>710</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Has_Pending_Sibling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Asmt_Narrative_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Pending_Sibling_True</name>
        <label>Set Has Pending Sibling = True</label>
        <locationX>314</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Has_Pending_Sibling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Questionnaire</name>
        <label>Set Questionnaire</label>
        <locationX>710</locationX>
        <locationY>2591</locationY>
        <assignmentItems>
            <assignToReference>$Record.Questionnaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asmt_Template_based_on_KV_from_Country_Asmt_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PTI_eligibility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RFUKV_MSR</name>
        <label>Set RFUKV = MSR</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123Rule_Key_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_MSR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_TKV_Initiate_Workflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RKV_OUS</name>
        <label>Set RKV = OUS</label>
        <locationX>842</locationX>
        <locationY>2075</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123Rule_Key_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_OUS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_values_from_Country_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RKV_US_MDR</name>
        <label>Set RKV = US MDR</label>
        <locationX>578</locationX>
        <locationY>2183</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123Rule_Key_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_US_MDR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_New_Information_Aware_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Investigation_Approved_Date.CMPL123_WF_Action_Performed_On__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_values_from_Country_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TKV_Initiate_Workflow</name>
        <label>Set TKV = Initiate Workflow</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123Task_Key_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initiate Workflow</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_TKV_PTI_Closure_for_OUS</name>
        <label>Set TKV = PTI Closure for OUS</label>
        <locationX>1152</locationX>
        <locationY>3551</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123Task_Key_Value__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PTI Closure - Assessment (OUS)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_PTI_automation_active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TKV_PTI_Closure_for_US</name>
        <label>Set TKV = PTI Closure for US</label>
        <locationX>888</locationX>
        <locationY>3551</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123Task_Key_Value__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PTI Closure - Assessment (US MDR)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_PTI_automation_active</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Find_pending_Asmts</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find pending Asmts</label>
        <locationX>512</locationX>
        <locationY>1019</locationY>
        <assignNextValueToReference>currentItem_Find_pending_Asmts_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_sibling_Asmts_for_same_Country</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_pending_Asmts_0.OLY_Is_Pending__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_pending_Assessments</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <description>IF set to TRUE, then PTI Automation will be active
IF set to FALSE, then PTI Automation path will be bypassed</description>
        <name>AUTOCLOSURE_ACTIVE_FLAG</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <name>con_ComplaintReportabilityOUS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaint Reportability (OUS)</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_InReview</name>
        <dataType>String</dataType>
        <value>
            <stringValue>In Review</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_Complaint_Reportability_OUS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaint_Reportability_OUS</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_Complaint_Reportability_US</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaint_Reportability_US</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_Medical_Safety_Review</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Medical_Safety_Review</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_MSR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MSR</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_OUS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OUS</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_OUS_recordTypeSuffix</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>txt_US_MDR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>US MDR</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_US_recordTypeSuffix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>(US)</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Asmt_Narrative_value</name>
        <label>Check Asmt Narrative value</label>
        <locationX>710</locationX>
        <locationY>1451</locationY>
        <defaultConnector>
            <targetReference>Get_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asmt_Narrative_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Event_Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Asmt_Narrative_Event_Description</targetReference>
            </connector>
            <label>Asmt Narrative is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Asmts_for_same_Country</name>
        <label>Check for Asmts for same Country</label>
        <locationX>512</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Set_Asmt_Type_Initial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Asmts_for_same_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_sibling_Asmts_for_same_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Asmt_Type_Additional</targetReference>
            </connector>
            <label>Has Asmts for same Country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Country_or_Questionnaire</name>
        <label>Check for Country or Questionnaire</label>
        <locationX>941</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_Has_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_sibling_Asmts_for_same_Country</targetReference>
            </connector>
            <label>Has Country</label>
        </rules>
        <rules>
            <name>out_Has_Questionnaire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Questionnaire__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_KV_from_parent_Questionnaire</targetReference>
            </connector>
            <label>Has Questionnaire</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_pending_Asmt_exists</name>
        <label>Check if pending Asmt exists</label>
        <locationX>512</locationX>
        <locationY>1235</locationY>
        <defaultConnector>
            <targetReference>Set_Has_Pending_Sibling_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_Asmt_exists_for_same_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>num_PendingSiblingAsmts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Pending_Sibling_True</targetReference>
            </connector>
            <label>Pending Asmt exists for same Country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PTI_eligibility</name>
        <label>Check PTI eligibility</label>
        <locationX>710</locationX>
        <locationY>2699</locationY>
        <defaultConnector>
            <targetReference>Copy_KV_from_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not on PTI path</defaultConnectorLabel>
        <rules>
            <name>Is_PTI_Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__Complaint__r.OLY_Is_PTI_Eligible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AUTOCLOSURE_ACTIVE_FLAG</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_RKV</targetReference>
            </connector>
            <label>Is PTI Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RKV</name>
        <label>Check RKV</label>
        <locationX>1152</locationX>
        <locationY>3443</locationY>
        <defaultConnector>
            <targetReference>Is_PTI_automation_active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RKV_US_MDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123Rule_Key_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>txt_US_MDR</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AUTOCLOSURE_ACTIVE_FLAG</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_TKV_PTI_Closure_for_US</targetReference>
            </connector>
            <label>RKV = US MDR</label>
        </rules>
        <rules>
            <name>RKV_OUS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123Rule_Key_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>txt_OUS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AUTOCLOSURE_ACTIVE_FLAG</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_TKV_PTI_Closure_for_OUS</targetReference>
            </connector>
            <label>RKV = OUS</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Check_Assessment_Type</name>
        <label>Check Assessment Type</label>
        <locationX>710</locationX>
        <locationY>1967</locationY>
        <defaultConnector>
            <targetReference>Set_RKV_OUS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not US MDR</defaultConnectorLabel>
        <rules>
            <name>out_US_MDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Country.OLY_Assessment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>txt_US_MDR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Investigation_Approved_Date</targetReference>
            </connector>
            <label>US MDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Check_if_new_record</name>
        <label>Check if new record</label>
        <locationX>1152</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_Is_new_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_Check_Record_Type</targetReference>
            </connector>
            <label>Is new record</label>
        </rules>
        <rules>
            <name>Is_Changed_to_PTI_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Is_Changed_to_PTI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_RKV</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is Changed to PTI = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>495</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Check_for_Country_or_Questionnaire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_Medical_Safety_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>txt_Medical_Safety_Review</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RFUKV_MSR</targetReference>
            </connector>
            <label>MSR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PTI_automation_active</name>
        <label>Is PTI automation active</label>
        <locationX>1152</locationX>
        <locationY>3743</locationY>
        <defaultConnectorLabel>PTI Automation is not Active</defaultConnectorLabel>
        <rules>
            <name>PTI_Autoclosure_is_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AUTOCLOSURE_ACTIVE_FLAG</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Reportability_Rationale_based_on_PTIs</targetReference>
            </connector>
            <label>PTI Autoclosure is active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Assessment: Before Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment: Before Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asmt_Template_based_on_KV_from_Country_Asmt_Type</name>
        <label>Get Asmt Template based on KV from Country &gt; Asmt Type</label>
        <locationX>710</locationX>
        <locationY>2483</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Questionnaire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CMPL123CME__Key_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Country.OLY_Assessment_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CMPL123CME__Assessment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Effective</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMPL123CME__Questions_Template__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Country</name>
        <label>Get Country</label>
        <locationX>710</locationX>
        <locationY>1751</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_US_OUS_based_on_Country_Asmt_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OLY_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OLY_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OLY_Country__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OLY_Assessment_Type__c</queriedFields>
        <queriedFields>OLY_Country_Group__c</queriedFields>
        <queriedFields>OLY_Assessment_Record_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Investigation_Approved_Date</name>
        <label>Get Investigation Approved Date</label>
        <locationX>578</locationX>
        <locationY>2075</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_RKV_US_MDR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TWD_Complaint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CMPL123_WF_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMPL123QMS__Investigation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CMPL123_WF_Action_Performed_On__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_US_OUS_based_on_Country_Asmt_Record_Type</name>
        <label>Get Record Type (US/OUS) based on Country &gt; Asmt Record Type</label>
        <locationX>710</locationX>
        <locationY>1859</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Check_Assessment_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CMPL123CME__Questionnaire__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Country.OLY_Assessment_Record_Type__c</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_AsmtRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_sibling_Asmts_for_same_Country</name>
        <label>Get sibling Asmts for same Country</label>
        <locationX>512</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Asmts_for_same_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CMPL123CME__Complaint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OLY_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OLY_Country__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OLY_Is_Canceled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CMPL123CME__Questionnaire__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OLY_Is_Pending__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1026</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_Check_if_new_record</targetReference>
        </connector>
        <object>CMPL123CME__Questionnaire__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txt_RptRationale_NonRptJustification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.CMPL123CME__Complaint__r.OLY_PTI_Reportability_Rationale__c}

{!$Record.CMPL123CME__Complaint__r.OLY_PTI_Non_Reportability_Justification__c}</text>
    </textTemplates>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>currentItem_Find_pending_Asmts_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>MedicalSafetyReview_MSR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Medical_Safety_Review_MSR</stringValue>
        </value>
    </variables>
    <variables>
        <name>num_PendingSiblingAsmts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_AsmtRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
