force-app/main/default/flows/OLY_Investigation_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Auto_Copy_Investigation_Summary_to_Complaint</name>
        <label>Auto Copy Investigation Summary to Complaint</label>
        <locationX>2074</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.TWD_Investigation_Summary_and_Conclusion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TWD_Complaint__r.OLY_PTI_Investigation_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Complaint_TKV_Complete_Investigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Inv_Summary_Local_Lang_to_Complaint</name>
        <label>Copy Inv Summary Local Lang to Complaint</label>
        <locationX>2074</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Investigation_Summary_Local_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OLY_Investigation_Summary_Local_Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Investigation_is_PTI_Closure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Inv_Summary_to_Complaint</name>
        <label>Copy Inv Summary to Complaint</label>
        <locationX>2074</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.TWD_Investigation_Summary_and_Conclusion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OLY_Investigation_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Inv_Summary_Local_Lang_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Investigation_Summary_to_Complaint</name>
        <label>Copy Investigation Summary to Complaint</label>
        <locationX>1546</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.TWD_Investigation_Summary_and_Conclusion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TWD_Complaint__r.OLY_PTI_Investigation_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Complaint_TKV_Complete_Investigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Complaint_TKV_Complete_Investigation</name>
        <label>Set Complaint TKV = Complete Investigation</label>
        <locationX>754</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.CMPL123Task_Key_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete Investigation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Is_Inv_Still_in_Progress_False_on_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Complaint_TKV_PTI_Closure_Complaint</name>
        <label>Set Complaint TKV = PTI Closure - Complaint</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.CMPL123Task_Key_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PTI Closure - Complaint</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Post_Submission_Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Customer_Letter_Attached_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Letter_Attached_No</name>
        <label>Set Customer Letter Attached? = No</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Customer_Letter_Attached__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Is_Inv_Still_in_Progress_False_on_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Child_Inv_and_Still_in_Prog_true</name>
        <label>Set Has Child Inv and Still in Prog = true</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Child_Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.TWD_Is_Investigation_Still_In_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Child_Inv_False_on_Complaint</name>
        <label>Set Has Child Inv = False on Complaint</label>
        <locationX>1282</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Child_Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Is_Inv_Still_in_Progress_False_on_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Post_Submission_Investigation_True_on_Complaint</name>
        <label>Set Has Post-Submission Investigation = True on Complaint</label>
        <locationX>1018</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Post_Submission_Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Is_Inv_Still_in_Progress_False_on_Complaint</name>
        <label>Set Is Inv Still in Progress = False on Complaint</label>
        <locationX>1205</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.TWD_Is_Investigation_Still_In_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_up_Complaint_record_variable</name>
        <label>Set up Complaint record variable</label>
        <locationX>1128</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TWD_Complaint__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Is_WF_Status_changed</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AUTOCLOSURE_ACTIVE_FLAG</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <name>con_ClosedPTI</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - PTI</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_Open</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Complaint_PTI_eligibility</name>
        <label>Check Complaint PTI eligibility</label>
        <locationX>600</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Set_Complaint_TKV_Complete_Investigation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not PTI Eligible or Autoclosure is not Active</defaultConnectorLabel>
        <rules>
            <name>Is_PTI_Eligible_AND_Autoclosure_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TWD_Complaint__r.OLY_Is_PTI_Eligible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AUTOCLOSURE_ACTIVE_FLAG</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Complaint_TKV_PTI_Closure_Complaint</targetReference>
            </connector>
            <label>Is PTI Eligible AND Autoclosure Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Letter_Attached_value</name>
        <label>Check Customer Letter Attached? value</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Set_Is_Inv_Still_in_Progress_False_on_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Letter_Attached_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TWD_Complaint__r.OLY_Customer_Letter_Attached__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Letter_Attached_No</targetReference>
            </connector>
            <label>Customer Letter Attached? is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Inv_Summary_changed</name>
        <label>Check if Inv Summary changed</label>
        <locationX>2206</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check_if_Inv_Summary_Local_Lang_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inv_Summary_was_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Investigation_Summary__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123_WF_Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PTI Closure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Inv_Summary_to_Complaint</targetReference>
            </connector>
            <label>Inv Summary was changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Inv_Summary_Local_Lang_changed</name>
        <label>Check if Inv Summary Local Lang changed</label>
        <locationX>2206</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Check_if_Investigation_is_PTI_Closure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inv_Summary_Local_Lang_was_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Investigation_Summary_Local_Language__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Inv_Summary_Local_Lang_to_Complaint</targetReference>
            </connector>
            <label>Inv Summary Local Lang was changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Investigation_is_PTI_Closure</name>
        <label>Check if Investigation is PTI Closure</label>
        <locationX>2206</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Investigation_is_PTI_Closure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123_WF_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PTI Closure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Copy_Investigation_Summary_to_Complaint</targetReference>
            </connector>
            <label>Investigation is PTI Closure</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Check_parent_record</name>
        <label>Check parent record</label>
        <locationX>1821</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_Parent_is_Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TWD_Complaint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_up_Complaint_record_variable</targetReference>
            </connector>
            <label>Parent is Complaint</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Check_WF_Status</name>
        <label>Check WF Status</label>
        <locationX>1205</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WF_Action_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TWD_Complaint__r.CMPL123CME__CMPL123_WF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint in Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123_WF_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Complaint_PTI_eligibility</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>WF Action = Approve</label>
        </rules>
        <rules>
            <name>WF_Action_Submit</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123_WF_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TWD_Complaint__r.OLY_Has_Post_Submission_Investigation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123_WF_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reopen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Post_Submission_Investigation_True_on_Complaint</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>WF Action = Submit</label>
        </rules>
        <rules>
            <name>out_WF_Status_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123_WF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Child_Inv_False_on_Complaint</targetReference>
            </connector>
            <label>WF Status = Canceled</label>
        </rules>
        <rules>
            <name>WF_Action_PTI_Closure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123_WF_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PTI Closure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Investigation_Summary_to_Complaint</targetReference>
            </connector>
            <label>WF Action = PTI Closure</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Is_WF_Status_changed</name>
        <label>Is WF Status changed</label>
        <locationX>1128</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_if_Inv_Summary_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_new_Open_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123_WF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>con_Open</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Child_Inv_and_Still_in_Prog_true</targetReference>
            </connector>
            <label>Is new Open record</label>
        </rules>
        <rules>
            <name>WF_Status_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123_WF_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_Check_WF_Status</targetReference>
            </connector>
            <label>WF Status changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>Investigation asf {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Investigation - After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Complaint</name>
        <label>Update Complaint</label>
        <locationX>1128</locationX>
        <locationY>1697</locationY>
        <inputReference>rec_Complaint</inputReference>
    </recordUpdates>
    <start>
        <locationX>1695</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_Check_parent_record</targetReference>
        </connector>
        <object>CMPL123QMS__Investigation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ParentComplaints</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Complaint__c</objectType>
    </variables>
    <variables>
        <name>rec_Complaint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Complaint__c</objectType>
    </variables>
</Flow>
