force-app/main/default/flows/OLY_Assessment_Update_Records_asf.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Report_Type_to_Set</name>
        <label>Add Report Type to Set</label>
        <locationX>1766</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>col_ReportableAssessmentRecordTypeID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Report_Type_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Report_Type_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Completed_MSR_True</name>
        <label>Set Has Completed MSR = True</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Completed_Assessment_MSR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_sibling_pending_MSRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Pending_MSR_False</name>
        <label>Set Has Pending MSR = False</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Pending_Assessment_MSR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Pending_MSR_True</name>
        <label>Set Has Pending MSR = True</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Pending_Assessment_MSR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Pending_or_Completed_Assessment_False</name>
        <label>Set Has Pending or Completed Assessment = False</label>
        <locationX>1546</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Pending_or_Completed_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Pending_or_Completed_Assessment_True</name>
        <label>Set Has Pending or Completed Assessment = True</label>
        <locationX>1018</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Pending_or_Completed_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Post_Submission_Assessment_True_on_Complaint</name>
        <label>Set Has Post-Submission Assessment = True on Complaint</label>
        <locationX>1282</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Post_Submission_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_up_Complaint_record</name>
        <label>Set up Complaint record</label>
        <locationX>864</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Assessment_record_type</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>con_Cancel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_Complete</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_ReworkComplete</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rework Complete</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Assessment_record_type</name>
        <label>Check Assessment record type</label>
        <locationX>864</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_reportable_assessment_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is reportability Asmt</defaultConnectorLabel>
        <rules>
            <name>Is_MSR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Safety Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_MSR_status</targetReference>
            </connector>
            <label>Is MSR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_pending_MSRs</name>
        <label>Check for pending MSRs</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_other_pending_MSRs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_sibling_pending_MSRs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Pending_MSR_False</targetReference>
            </connector>
            <label>No other pending MSRs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_pending_reportability_assessments</name>
        <label>Check for pending reportability assessments</label>
        <locationX>1678</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_other_pending_reportability_assessments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_sibling_pending_reportability_assessments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Pending_or_Completed_Assessment_False</targetReference>
            </connector>
            <label>No other pending reportability assessments</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSR_status</name>
        <label>Check MSR status</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_new_MSR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Pending_MSR_True</targetReference>
            </connector>
            <label>Is new MSR</label>
        </rules>
        <rules>
            <name>Is_closed_MSR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Is_Pending__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Completed_MSR_True</targetReference>
            </connector>
            <label>Is closed MSR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_reportable_assessment_status</name>
        <label>Check reportable assessment status</label>
        <locationX>1326</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_WF_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_new_reportable_assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Pending_or_Completed_Assessment_True</targetReference>
            </connector>
            <label>Is new reportable assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WF_Action</name>
        <label>Check WF Action</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WF_Action_Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123_WF_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Post_Submission_Assessment_True_on_Complaint</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>WF Action = Submit</label>
        </rules>
        <rules>
            <name>WF_Action_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123_WF_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>con_Cancel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_ID_for_Reportable_Assessments</targetReference>
            </connector>
            <label>WF Action = Cancel</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Assessment - Update Records (asf) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment - Update Records (asf)</label>
    <loops>
        <name>Loop_Report_Type_ID</name>
        <label>Loop Report Type ID</label>
        <locationX>1678</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Record_Type_ID_for_Reportable_Assessments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Report_Type_to_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_sibling_pending_reportability_assessments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_Type_ID_for_Reportable_Assessments</name>
        <label>Get Record Type ID for Reportable Assessments</label>
        <locationX>1678</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Report_Type_ID</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CMPL123CME__Questionnaire__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint Reportability (OUS)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint Reportability (US)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_sibling_pending_MSRs</name>
        <label>Get sibling pending MSRs</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_pending_MSRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CMPL123CME__Complaint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OLY_Is_Pending__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMPL123CME__Questionnaire__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_sibling_pending_reportability_assessments</name>
        <label>Get sibling pending reportability assessments</label>
        <locationX>1678</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_pending_reportability_assessments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CMPL123CME__Complaint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Complaint__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CMPL123_WF_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>In</operator>
            <value>
                <elementReference>col_ReportableAssessmentRecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CMPL123CME__Questionnaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Complaint</name>
        <label>Update Parent Complaint</label>
        <locationX>864</locationX>
        <locationY>1823</locationY>
        <inputReference>rec_Complaint</inputReference>
    </recordUpdates>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_up_Complaint_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CMPL123CME__Complaint__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CMPL123CME__Questionnaire__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>300</triggerOrder>
    <variables>
        <name>col_ReportableAssessmentRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>rec_Complaint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Complaint__c</objectType>
    </variables>
</Flow>
