force-app/main/default/flows/OLY_PTI_Handler_alf.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_A_Code_to_collection_AI</name>
        <label>Add A Code to collection (AI)</label>
        <locationX>2358</locationX>
        <locationY>6320</locationY>
        <assignmentItems>
            <assignToReference>col_ComplaintCodeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_A_Device_Problem_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_A_Device_Problem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_A_Device_Problem_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_A_Code_to_Device_collection_AI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_A_Code_to_collection_AR</name>
        <label>Add A Code to collection (AR)</label>
        <locationX>2930</locationX>
        <locationY>2720</locationY>
        <assignmentItems>
            <assignToReference>col_ComplaintCodeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_A_Device_Problem_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_A_Device_Problem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_A_Device_Problem_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_A_Code_to_Device_collection_AR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_A_Code_to_Device_collection_AI</name>
        <label>Add A Code to Device collection (AI)</label>
        <locationX>2358</locationX>
        <locationY>6428</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_A_Device_Problem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_A_Device_Problem_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_G_Code_already_exists_in_collection_AI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_A_Code_to_Device_collection_AR</name>
        <label>Add A Code to Device collection (AR)</label>
        <locationX>2930</locationX>
        <locationY>2828</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_A_Device_Problem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_A_Device_Problem_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_G_Code_already_exists_in_collection_AR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AI_Code_to_collection</name>
        <label>Add AI Code to collection</label>
        <locationX>2358</locationX>
        <locationY>5912</locationY>
        <assignmentItems>
            <assignToReference>col_AICodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_AI_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_AI_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_A_Code_already_exists_in_collection_AI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AR_Code_to_collection</name>
        <label>Add AR Code to collection</label>
        <locationX>2930</locationX>
        <locationY>2312</locationY>
        <assignmentItems>
            <assignToReference>col_ARCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_AR_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_AR_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_A_Code_already_exists_in_collection_AR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_B_Code_to_Investigation_collection</name>
        <label>Add B Code to Investigation collection</label>
        <locationX>2842</locationX>
        <locationY>10052</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Investigation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HE_loop.OLY_Code_with_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Investigation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Investigation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HE_loop.OLY_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Investigation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>HE_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_C_Code_to_collection</name>
        <label>Add C Code to collection</label>
        <locationX>2358</locationX>
        <locationY>7136</locationY>
        <assignmentItems>
            <assignToReference>col_ComplaintCodeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_C_Investigation_Finding_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_C_Investigation_Finding__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_C_Investigation_Finding_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_C_Code_to_Investigation_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_C_Code_to_Investigation_collection</name>
        <label>Add C Code to Investigation collection</label>
        <locationX>2358</locationX>
        <locationY>7244</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Investigation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_C_Investigation_Finding__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Investigation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_C_Investigation_Finding_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Investigation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_D_Code_already_exists_in_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Code_to_collection</name>
        <label>Add Code to collection</label>
        <locationX>2578</locationX>
        <locationY>9836</locationY>
        <assignmentItems>
            <assignToReference>col_ComplaintCodeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HE_loop.OLY_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HE_loop.OLY_Code_with_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HE_loop.OLY_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_code_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Code_to_Patient_collection</name>
        <label>Add Code to Patient collection</label>
        <locationX>2578</locationX>
        <locationY>10310</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Patient__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HE_loop.OLY_Code_with_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Patient__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Patient__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HE_loop.OLY_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Patient__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Complaint_ID_to_TEXT_collection</name>
        <label>Add Complaint ID to TEXT collection</label>
        <locationX>138</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Input_Record_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Input_Records_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_Records_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Complaint_to_collection</name>
        <label>Add Complaint to collection</label>
        <locationX>1786</locationX>
        <locationY>11852</locationY>
        <assignmentItems>
            <assignToReference>col_UpdatedComplaints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_Complaint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complaint_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_D_Code_to_collection_AI</name>
        <label>Add D Code to collection (AI)</label>
        <locationX>2358</locationX>
        <locationY>7544</locationY>
        <assignmentItems>
            <assignToReference>col_ComplaintCodeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_D_Investigation_Conclusion_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_D_Investigation_Conclusion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_D_Investigation_Conclusion_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_D_Code_to_Investigation_collection_AI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_D_Code_to_Investigation_collection_AI</name>
        <label>Add D Code to Investigation collection (AI)</label>
        <locationX>2358</locationX>
        <locationY>7652</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Investigation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_D_Investigation_Conclusion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Investigation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Investigation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_D_Investigation_Conclusion_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Investigation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_codes_with_Letter_Req</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_G_Code_to_collection_AICopy_1_of_Add_G_Code_to_collection_AR</name>
        <label>Add G Code to collection (AI)</label>
        <locationX>2358</locationX>
        <locationY>6728</locationY>
        <assignmentItems>
            <assignToReference>col_ComplaintCodeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_G_Device_Component_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_G_Device_Component__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_G_Device_Component_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_G_Code_to_Device_collection_AI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_G_Code_to_collection_AR</name>
        <label>Add G Code to collection (AR)</label>
        <locationX>2930</locationX>
        <locationY>3128</locationY>
        <assignmentItems>
            <assignToReference>col_ComplaintCodeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_G_Device_Component_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_G_Device_Component__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_G_Device_Component_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_G_Code_to_Device_collection_AR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_G_Code_to_Device_collection_AI</name>
        <label>Add G Code to Device collection (AI)</label>
        <locationX>2358</locationX>
        <locationY>6836</locationY>
        <assignmentItems>
            <assignToReference>col_ComplaintCodeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_G_Device_Component_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_G_Device_Component__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_G_Device_Component_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_C_Code_already_exists_in_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_G_Code_to_Device_collection_AR</name>
        <label>Add G Code to Device collection (AR)</label>
        <locationX>2930</locationX>
        <locationY>3236</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_G_Device_Component__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_G_Device_Component_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Device__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_AR_Code_is_PTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ID_to_TEXT_collection</name>
        <label>Add ID to TEXT collection</label>
        <locationX>1190</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Input_Record_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Input_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Input_RecordWfStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Input_Record_to_RECORD_collection</name>
        <label>Add Input_Record to RECORD collection</label>
        <locationX>266</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Input_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Input_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_child_AR_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_query_result_to_RECORD_collection</name>
        <label>Add query result to RECORD collection</label>
        <locationX>794</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Input_Records</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Complaints_in_TEXT_collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_child_AR_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_ID_to_TEXT_collection</name>
        <label>Add Record ID to TEXT collection</label>
        <locationX>398</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Input_Record_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Input_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Record_WF_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_and_WfStatus_to_Input_Record</name>
        <label>Assign ID and WfStatus to Input_Record</label>
        <locationX>1058</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Input_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_Record.CMPL123CME__CMPL123_WF_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_RecordWfStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Input_Record_to_RECORD_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_PTI_fields</name>
        <label>Clear PTI fields</label>
        <locationX>1654</locationX>
        <locationY>11660</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Reportability_Rationale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Investigation_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Non_Reportability_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Complaint_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_PTI_details_to_Complaint_AI</name>
        <label>Copy PTI details to Complaint (AI)</label>
        <locationX>2314</locationX>
        <locationY>8360</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Reference__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_PTI__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Reference__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>frm_PTITextDelimiter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PTI_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_PTI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_PTI_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_PTI_RAD_already_exists_in_collection_AI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_PTI_details_to_Complaint_AR</name>
        <label>Copy PTI details to Complaint (AR)</label>
        <locationX>2886</locationX>
        <locationY>3644</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Reference__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_PTI__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Reference__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>frm_PTITextDelimiter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PTI_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_PTI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_PTI_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_PTI_RAD_already_exists_in_collection_AR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_PTI_IS_details_to_Complaint_AI</name>
        <label>Copy PTI IS details to Complaint (AI)</label>
        <locationX>2402</locationX>
        <locationY>8876</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Investigation_Summary__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_PTI__r.OLY_Investigation_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Investigation_Summary__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>frm_PTITextDelimiter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PTI_IS_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_PTI__r.OLY_Investigation_Summary_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_PTI_NRJ_already_exists_in_collection_AI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_PTI_IS_details_to_Complaint_AR</name>
        <label>Copy PTI IS details to Complaint (AR)</label>
        <locationX>2974</locationX>
        <locationY>4160</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Investigation_Summary__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_PTI__r.OLY_Investigation_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Investigation_Summary__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>frm_PTITextDelimiter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PTI_IS_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_PTI__r.OLY_Investigation_Summary_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_PTI_NRJ_already_exists_in_collection_AR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_PTI_NRJ_details_to_Complaint_AI</name>
        <label>Copy PTI NRJ details to Complaint (AI)</label>
        <locationX>2402</locationX>
        <locationY>9176</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Non_Reportability_Justification__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_PTI__r.OLY_Non_Reportability_Justification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Non_Reportability_Justification__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>frm_PTITextDelimiter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PTI_NRJ_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_PTI__r.OLY_PTI_Non_Report_Justification_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AI_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_PTI_NRJ_details_to_Complaint_AR</name>
        <label>Copy PTI NRJ details to Complaint (AR)</label>
        <locationX>2974</locationX>
        <locationY>4460</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Non_Reportability_Justification__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_PTI__r.OLY_Non_Reportability_Justification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Non_Reportability_Justification__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>frm_PTITextDelimiter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PTI_NRJ_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_PTI__r.OLY_PTI_Non_Report_Justification_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WF_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_PTI_RAD_details_to_Complaint_AI</name>
        <label>Copy PTI RAD details to Complaint (AI)</label>
        <locationX>2402</locationX>
        <locationY>8576</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Reportability_Rationale__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_PTI__r.OLY_Reportability_Rationale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Reportability_Rationale__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>frm_PTITextDelimiter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PTI_RAD_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AI_loop.OLY_PTI__r.OLY_Reportability_Rationale_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_PTI_IS_already_exists_in_collection_AI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_PTI_RAD_details_to_Complaint_AR</name>
        <label>Copy PTI RAD details to Complaint (AR)</label>
        <locationX>2974</locationX>
        <locationY>3860</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Reportability_Rationale__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_PTI__r.OLY_Reportability_Rationale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Reportability_Rationale__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>frm_PTITextDelimiter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PTI_RAD_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AR_loop.OLY_PTI__r.OLY_Reportability_Rationale_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_PTI_IS_already_exists_in_collection_AR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_AR_Codes</name>
        <label>Count AR Codes</label>
        <locationX>1786</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>num_ARCodes</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_ARs_for_current_Complaint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_AIs_for_current_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_matching_AI_Codes</name>
        <label>Count matching AI Codes</label>
        <locationX>2688</locationX>
        <locationY>5036</locationY>
        <assignmentItems>
            <assignToReference>num_MatchingAICodes</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_matching_AI_Codes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_AI_Code_matched_current_AR_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_values</name>
        <label>Initialize values</label>
        <locationX>1786</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Investigation_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Reportability_Rationale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_PTI_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Non_PTI_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Health_Effect_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Death_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_PTI_Health_Effect_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Has_Any_E_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Has_Any_F_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Has_PTI_E_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Has_PTI_F_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Device__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Codes_Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Device__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Complaint_Code_IDs_Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_AI_Codes_for_All_AR_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Customer_Letter_Required_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_PTI_Non_Reportability_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Device_Problem_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_AR_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_AI_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_ARs_for_current_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_AI_Codes_for_All_AR_Codes_False</name>
        <label>Set Has AI Codes for All AR Codes = False</label>
        <locationX>2556</locationX>
        <locationY>5252</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_AI_Codes_for_All_AR_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AR_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_AI_for_all_AR_flag_to_false</name>
        <label>Set Has AI for all AR flag to false</label>
        <locationX>1214</locationX>
        <locationY>2096</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_AI_Codes_for_All_AR_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AI_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Customer_Letter_Req_Code_True</name>
        <label>Set Has Customer Letter Req Code = True</label>
        <locationX>2138</locationX>
        <locationY>7952</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Customer_Letter_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Customer_Letter_Required_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_AI_Code_is_PTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Death_Code_True</name>
        <label>Set Has Death Code = True</label>
        <locationX>2578</locationX>
        <locationY>10526</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Death_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Has_Non_PTI_Code_True_HE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Device_Problem_Code_True_AI</name>
        <label>Set Has Device Problem Code = True (AI)</label>
        <locationX>2358</locationX>
        <locationY>6212</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Device_Problem_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_A_Code_to_collection_AI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Device_Problem_Code_True_AR</name>
        <label>Set Has Device Problem Code = True (AR)</label>
        <locationX>2930</locationX>
        <locationY>2612</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Device_Problem_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_A_Code_to_collection_AR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Health_Effect_Codes_True</name>
        <label>Set Has Health Effect Codes = True</label>
        <locationX>1654</locationX>
        <locationY>11060</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Health_Effect_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_PTI_E_and_F_codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Non_PTI_Code_True_AI</name>
        <label>Set Has Non-PTI Code = True (AI)</label>
        <locationX>2666</locationX>
        <locationY>8252</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Non_PTI_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AI_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Non_PTI_Code_True_AR</name>
        <label>Set Has Non-PTI Code = True (AR)</label>
        <locationX>3238</locationX>
        <locationY>3536</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Non_PTI_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WF_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Non_PTI_Code_True_HE</name>
        <label>Set Has Non-PTI Code = True (HE)</label>
        <locationX>2842</locationX>
        <locationY>10526</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_Non_PTI_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HE_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_PTI_Health_Effect_Codes_True</name>
        <label>Set Has PTI Health Effect Codes = True</label>
        <locationX>1654</locationX>
        <locationY>11360</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.OLY_Has_PTI_Health_Effect_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Non_PTI_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_up_empty_Complaint_variable</name>
        <label>Set up empty Complaint variable</label>
        <locationX>1786</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Complaint_template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_up_iteration_veriable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_up_iteration_veriable</name>
        <label>Set up iteration veriable</label>
        <locationX>1786</locationX>
        <locationY>1340</locationY>
        <assignmentItems>
            <assignToReference>rec_Complaint.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complaint_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Complaint.CMPL123CME__CMPL123_WF_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complaint_loop.CMPL123CME__CMPL123_WF_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Track_Has_Any_E_Code</name>
        <label>Track - Has Any E Code</label>
        <locationX>2314</locationX>
        <locationY>10052</locationY>
        <assignmentItems>
            <assignToReference>var_Has_Any_E_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Code_to_Patient_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Track_Has_Any_F_Code</name>
        <label>Track - Has Any F Code</label>
        <locationX>2578</locationX>
        <locationY>10052</locationY>
        <assignmentItems>
            <assignToReference>var_Has_Any_F_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Code_to_Patient_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Track_Has_PTI_E_Code</name>
        <label>Track - Has PTI E Code</label>
        <locationX>2050</locationX>
        <locationY>10526</locationY>
        <assignmentItems>
            <assignToReference>var_Has_PTI_E_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HE_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Track_Has_PTI_F_Code</name>
        <label>Track - Has PTI F Code</label>
        <locationX>2314</locationX>
        <locationY>10526</locationY>
        <assignmentItems>
            <assignToReference>var_Has_PTI_F_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HE_loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Find_AIs_for_current_Complaint</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find AIs for current Complaint</label>
        <locationX>1786</locationX>
        <locationY>1772</locationY>
        <assignNextValueToReference>currentItem_Find_AIs_for_current_Complaint</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_child_AI_Codes</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_AIs_for_current_Complaint.OLY_Complaint__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>rec_Complaint.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Find_HEs_for_current_Complaint</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Find_ARs_for_current_Complaint</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find ARs for current Complaint</label>
        <locationX>1786</locationX>
        <locationY>1556</locationY>
        <assignNextValueToReference>currentItem_Find_ARs_for_current_Complaint_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_child_AR_Codes</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_ARs_for_current_Complaint_0.OLY_Complaint__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>rec_Complaint.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_AR_Codes</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Find_HEs_for_current_Complaint</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find HEs for current Complaint</label>
        <locationX>1786</locationX>
        <locationY>1880</locationY>
        <assignNextValueToReference>currentItem_Find_HEs_for_current_Complaint</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_child_HE_Codes</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_HEs_for_current_Complaint.OLY_Complaint__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>rec_Complaint.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_for_AR_Codes</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Find_matching_AI_Codes</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Find matching AI Codes</label>
        <locationX>2688</locationX>
        <locationY>4928</locationY>
        <assignNextValueToReference>currentItem_Find_matching_AI_Codes</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Find_AIs_for_current_Complaint</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Find_matching_AI_Codes.OLY_A_Device_Problem_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>AR_loop.OLY_A_Device_Problem_Code__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Find_matching_AI_Codes.OLY_G_Device_Component_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>AR_loop.OLY_G_Device_Component_Code__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_matching_AI_Codes</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <description>This switch is to toggle the branch condition ON/OFF per requirements</description>
        <name>NON_PTI_HE_CODE_ACTIVE</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Code</name>
        <label>Check Code</label>
        <locationX>2578</locationX>
        <locationY>10418</locationY>
        <defaultConnector>
            <targetReference>HE_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_PTI_Health_Code_E2403</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HE_loop.OLY_Is_PTI_Health_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Track_Has_PTI_E_Code</targetReference>
            </connector>
            <label>Is PTI Health Code (E2403)</label>
        </rules>
        <rules>
            <name>Is_PTI_Clinical_Code_F26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HE_loop.OLY_Is_PTI_Clinical_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Track_Has_PTI_F_Code</targetReference>
            </connector>
            <label>Is PTI Clinical Code (F26)</label>
        </rules>
        <rules>
            <name>Is_Death_Code_F02_F0201A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HE_loop.OLY_Is_Death_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Death_Code_True</targetReference>
            </connector>
            <label>Is Death Code (F02, F0201)</label>
        </rules>
        <rules>
            <name>Has_Non_PTI_Code_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Complaint.OLY_Has_Non_PTI_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NON_PTI_HE_CODE_ACTIVE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Non_PTI_Code_True_HE</targetReference>
            </connector>
            <label>Has Non-PTI Code = False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_code_type</name>
        <label>Check code type</label>
        <locationX>2578</locationX>
        <locationY>9944</locationY>
        <defaultConnector>
            <targetReference>Add_B_Code_to_Investigation_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Health_Code_E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HE_loop.OLY_Code_with_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Track_Has_Any_E_Code</targetReference>
            </connector>
            <label>Is Health Code (E)</label>
        </rules>
        <rules>
            <name>Is_Clinical_Code_F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HE_loop.OLY_Code_with_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Track_Has_Any_F_Code</targetReference>
            </connector>
            <label>Is Clinical Code (F)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_AR_Codes</name>
        <label>Check for AR Codes</label>
        <locationX>1786</locationX>
        <locationY>1988</locationY>
        <defaultConnector>
            <targetReference>AR_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_AR_Codes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>num_ARCodes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_AI_for_all_AR_flag_to_false</targetReference>
            </connector>
            <label>No AR Codes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_codes_with_Letter_Req</name>
        <label>Check for codes with Letter Req</label>
        <locationX>2270</locationX>
        <locationY>7844</locationY>
        <defaultConnector>
            <targetReference>Check_if_AI_Code_is_PTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_codes_with_Letter_Req</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AI_loop.OLY_Is_Customer_Letter_Required_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rec_Complaint.OLY_Has_Customer_Letter_Required_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Customer_Letter_Req_Code_True</targetReference>
            </connector>
            <label>Has codes with Letter Req</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_E_and_F_codes</name>
        <label>Check for E and F codes</label>
        <locationX>1786</locationX>
        <locationY>10952</locationY>
        <defaultConnector>
            <targetReference>Check_for_PTI_E_and_F_codes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_both_E_and_F_codes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Has_Any_E_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Has_Any_F_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Health_Effect_Codes_True</targetReference>
            </connector>
            <label>Has both E and F codes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Input_RecordWfStatus</name>
        <label>Check for Input_RecordWfStatus</label>
        <locationX>1190</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Complaints_in_TEXT_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Input_RecordWfStatus is BLANK</defaultConnectorLabel>
        <rules>
            <name>Input_RecordWfStatus_has_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_RecordWfStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ID_and_WfStatus_to_Input_Record</targetReference>
            </connector>
            <label>Input_RecordWfStatus has value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Non_PTI_Code</name>
        <label>Check for Non-PTI Code</label>
        <locationX>1786</locationX>
        <locationY>11552</locationY>
        <defaultConnector>
            <targetReference>Add_Complaint_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Non_PTI_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Complaint.OLY_Has_Non_PTI_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_PTI_fields</targetReference>
            </connector>
            <label>Has Non-PTI Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_PTI_E_and_F_codes</name>
        <label>Check for PTI E and F codes</label>
        <locationX>1786</locationX>
        <locationY>11252</locationY>
        <defaultConnector>
            <targetReference>Check_for_Non_PTI_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_both_PTI_E_and_F_codes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Has_PTI_E_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Has_PTI_F_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_PTI_Health_Effect_Codes_True</targetReference>
            </connector>
            <label>Has both PTI E and F codes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Record_WF_Status</name>
        <label>Check for Record WF Status</label>
        <locationX>398</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Complaints_in_TEXT_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record WF Status is BLANK</defaultConnectorLabel>
        <rules>
            <name>Record_has_WF_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Record.CMPL123CME__CMPL123_WF_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Input_Record_to_RECORD_collection</targetReference>
            </connector>
            <label>Record has WF Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_A_Code_already_exists_in_collection_AI</name>
        <label>Check if A Code already exists in collection (AI)</label>
        <locationX>2270</locationX>
        <locationY>6104</locationY>
        <defaultConnector>
            <targetReference>Set_Has_Device_Problem_Code_True_AI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>A Code is not in collection yet</defaultConnectorLabel>
        <rules>
            <name>A_Code_already_exists_in_collection_AI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_ComplaintCodeIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AI_loop.OLY_A_Device_Problem_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AI_loop.OLY_A_Device_Problem_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_G_Code_already_exists_in_collection_AI</targetReference>
            </connector>
            <label>A Code already exists in collection (AI)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_A_Code_already_exists_in_collection_AR</name>
        <label>Check if A Code already exists in collection (AR)</label>
        <locationX>2842</locationX>
        <locationY>2504</locationY>
        <defaultConnector>
            <targetReference>Set_Has_Device_Problem_Code_True_AR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>A Code is not in collection yet</defaultConnectorLabel>
        <rules>
            <name>A_Code_already_exists_in_collection_AR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_ComplaintCodeIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AR_loop.OLY_A_Device_Problem_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AR_loop.OLY_A_Device_Problem_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_G_Code_already_exists_in_collection_AR</targetReference>
            </connector>
            <label>A Code already exists in collection (AR)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_AI_Code_already_exists_in_collection</name>
        <label>Check if AI Code already exists in collection</label>
        <locationX>2270</locationX>
        <locationY>5804</locationY>
        <defaultConnector>
            <targetReference>Add_AI_Code_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AI Code is not in collection</defaultConnectorLabel>
        <rules>
            <name>AI_Code_already_exists_in_collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_AICodes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AI_loop.OLY_Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_A_Code_already_exists_in_collection_AI</targetReference>
            </connector>
            <label>AI Code already exists in collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_AI_Code_is_PTI</name>
        <label>Check if AI Code is PTI</label>
        <locationX>2270</locationX>
        <locationY>8144</locationY>
        <defaultConnector>
            <targetReference>Set_Has_Non_PTI_Code_True_AI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Non_PTI_Code_AI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Complaint.OLY_Has_Non_PTI_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AI_loop</targetReference>
            </connector>
            <label>Has Non-PTI Code (AI)</label>
        </rules>
        <rules>
            <name>AI_Code_is_PTI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AI_loop.OLY_Is_PTI_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_PTI_already_exists_in_collection_AI</targetReference>
            </connector>
            <label>AI Code is PTI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_AI_Code_matched_current_AR_Code</name>
        <label>Check if AI Code matched current AR Code</label>
        <locationX>2688</locationX>
        <locationY>5144</locationY>
        <defaultConnector>
            <targetReference>AR_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_matching_AI_code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>num_MatchingAICodes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_AI_Codes_for_All_AR_Codes_False</targetReference>
            </connector>
            <label>No matching AI code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_AR_Code_already_exists_in_collection</name>
        <label>Check if AR Code already exists in collection</label>
        <locationX>2842</locationX>
        <locationY>2204</locationY>
        <defaultConnector>
            <targetReference>Add_AR_Code_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AR Code is not in collection</defaultConnectorLabel>
        <rules>
            <name>AR_Code_already_exists_in_collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_ARCodes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AR_loop.OLY_Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_A_Code_already_exists_in_collection_AR</targetReference>
            </connector>
            <label>AR Code already exists in collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_AR_Code_is_PTI</name>
        <label>Check if AR Code is PTI</label>
        <locationX>2842</locationX>
        <locationY>3428</locationY>
        <defaultConnector>
            <targetReference>Set_Has_Non_PTI_Code_True_AR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Non_PTI_Code_AR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Complaint.OLY_Has_Non_PTI_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_WF_Status</targetReference>
            </connector>
            <label>Has Non-PTI Code (AR)</label>
        </rules>
        <rules>
            <name>AR_Code_is_PTI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AR_loop.OLY_Is_PTI_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_PTI_already_exists_in_collection_AR</targetReference>
            </connector>
            <label>AR Code is PTI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_C_Code_already_exists_in_collection</name>
        <label>Check if C Code already exists in collection</label>
        <locationX>2270</locationX>
        <locationY>7028</locationY>
        <defaultConnector>
            <targetReference>Add_C_Code_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>C Code is not in collection yet</defaultConnectorLabel>
        <rules>
            <name>C_Code_already_exists_in_collection</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_ComplaintCodeIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AI_loop.OLY_C_Investigation_Finding_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AI_loop.OLY_C_Investigation_Finding_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_D_Code_already_exists_in_collection</targetReference>
            </connector>
            <label>C Code already exists in collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Code_already_exists_in_collection</name>
        <label>Check if Code already exists in collection</label>
        <locationX>2226</locationX>
        <locationY>9728</locationY>
        <defaultConnector>
            <targetReference>Add_Code_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Code is not in collection yet</defaultConnectorLabel>
        <rules>
            <name>Code_already_exists_in_collection</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_ComplaintCodeIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>HE_loop.OLY_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HE_loop.OLY_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HE_loop</targetReference>
            </connector>
            <label>Code already exists in collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_D_Code_already_exists_in_collection</name>
        <label>Check if D Code already exists in collection</label>
        <locationX>2270</locationX>
        <locationY>7436</locationY>
        <defaultConnector>
            <targetReference>Add_D_Code_to_collection_AI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>D Code is not in collection yet</defaultConnectorLabel>
        <rules>
            <name>D_Code_already_exists_in_collection</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_ComplaintCodeIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AI_loop.OLY_D_Investigation_Conclusion_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AI_loop.OLY_D_Investigation_Conclusion_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_codes_with_Letter_Req</targetReference>
            </connector>
            <label>D Code already exists in collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_G_Code_already_exists_in_collection_AI</name>
        <label>Check if G Code already exists in collection (AI)</label>
        <locationX>2270</locationX>
        <locationY>6620</locationY>
        <defaultConnector>
            <targetReference>Add_G_Code_to_collection_AICopy_1_of_Add_G_Code_to_collection_AR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>G Code is not in collection yet</defaultConnectorLabel>
        <rules>
            <name>G_Code_already_exists_in_collection_AI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_ComplaintCodeIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AI_loop.OLY_G_Device_Component_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AI_loop.OLY_G_Device_Component_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_C_Code_already_exists_in_collection</targetReference>
            </connector>
            <label>G Code already exists in collection (AI)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_G_Code_already_exists_in_collection_AR</name>
        <label>Check if G Code already exists in collection (AR)</label>
        <locationX>2842</locationX>
        <locationY>3020</locationY>
        <defaultConnector>
            <targetReference>Add_G_Code_to_collection_AR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>G Code is not in collection yet</defaultConnectorLabel>
        <rules>
            <name>G_Code_already_exists_in_collection_AR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_ComplaintCodeIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AR_loop.OLY_G_Device_Component_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AR_loop.OLY_G_Device_Component_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_AR_Code_is_PTI</targetReference>
            </connector>
            <label>G Code already exists in collection (AR)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PTI_already_exists_in_collection_AI</name>
        <label>Check if PTI already exists in collection (AI)</label>
        <locationX>2182</locationX>
        <locationY>8252</locationY>
        <defaultConnector>
            <targetReference>Copy_PTI_details_to_Complaint_AI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PTI_already_exists_in_collection_AI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_PTI_IDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AI_loop.OLY_PTI__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AI_loop.OLY_PTI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AI_loop</targetReference>
            </connector>
            <label>PTI already exists in collection (AI)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PTI_already_exists_in_collection_AR</name>
        <label>Check if PTI already exists in collection (AR)</label>
        <locationX>2754</locationX>
        <locationY>3536</locationY>
        <defaultConnector>
            <targetReference>Copy_PTI_details_to_Complaint_AR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PTI needs to be added</defaultConnectorLabel>
        <rules>
            <name>PTI_already_exists_in_collection_AR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_PTI_IDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AR_loop.OLY_PTI__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AR_loop.OLY_PTI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_WF_Status</targetReference>
            </connector>
            <label>PTI already exists in collection (AR)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PTI_IS_already_exists_in_collection_AI</name>
        <label>Check if PTI IS already exists in collection (AI)</label>
        <locationX>2314</locationX>
        <locationY>8768</locationY>
        <defaultConnector>
            <targetReference>Copy_PTI_IS_details_to_Complaint_AI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PTI IS needs to be added</defaultConnectorLabel>
        <rules>
            <name>PTI_IS_already_exists_in_collection_AI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_PTI_IS_IDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AI_loop.OLY_PTI__r.OLY_Investigation_Summary_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AI_loop.OLY_PTI__r.OLY_Investigation_Summary_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_PTI_NRJ_already_exists_in_collection_AI</targetReference>
            </connector>
            <label>PTI IS already exists in collection (AI)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PTI_IS_already_exists_in_collection_AR</name>
        <label>Check if PTI IS already exists in collection (AR)</label>
        <locationX>2886</locationX>
        <locationY>4052</locationY>
        <defaultConnector>
            <targetReference>Copy_PTI_IS_details_to_Complaint_AR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PTI IS needs to be added</defaultConnectorLabel>
        <rules>
            <name>PTI_IS_already_exists_in_collection_AR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_PTI_IS_IDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AR_loop.OLY_PTI__r.OLY_Investigation_Summary_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AR_loop.OLY_PTI__r.OLY_Investigation_Summary_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_PTI_NRJ_already_exists_in_collection_AR</targetReference>
            </connector>
            <label>PTI IS already exists in collection (AR)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PTI_NRJ_already_exists_in_collection_AI</name>
        <label>Check if PTI NRJ already exists in collection (AI)</label>
        <locationX>2314</locationX>
        <locationY>9068</locationY>
        <defaultConnector>
            <targetReference>Copy_PTI_NRJ_details_to_Complaint_AI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PTI NRJ needs to be added</defaultConnectorLabel>
        <rules>
            <name>PTI_NRJ_already_exists_in_collection_AI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_PTI_NRJ_IDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AI_loop.OLY_PTI__r.OLY_PTI_Non_Report_Justification_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AI_loop.OLY_PTI__r.OLY_PTI_Non_Report_Justification_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AI_loop</targetReference>
            </connector>
            <label>PTI NRJ already exists in collection (AI)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PTI_NRJ_already_exists_in_collection_AR</name>
        <label>Check if PTI NRJ already exists in collection (AR)</label>
        <locationX>2886</locationX>
        <locationY>4352</locationY>
        <defaultConnector>
            <targetReference>Copy_PTI_NRJ_details_to_Complaint_AR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PTI NRJ needs to be added</defaultConnectorLabel>
        <rules>
            <name>PTI_NRJ_already_exists_in_collection_AR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_PTI_NRJ_IDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AR_loop.OLY_PTI__r.OLY_PTI_Non_Report_Justification_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AR_loop.OLY_PTI__r.OLY_PTI_Non_Report_Justification_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_WF_Status</targetReference>
            </connector>
            <label>PTI NRJ already exists in collection (AR)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PTI_RAD_already_exists_in_collection_AI</name>
        <label>Check if PTI RAD already exists in collection (AI)</label>
        <locationX>2314</locationX>
        <locationY>8468</locationY>
        <defaultConnector>
            <targetReference>Copy_PTI_RAD_details_to_Complaint_AI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PTI RAD needs to be added</defaultConnectorLabel>
        <rules>
            <name>PTI_RAD_already_exists_in_collection_AI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_PTI_RAD_IDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AI_loop.OLY_PTI__r.OLY_Reportability_Rationale_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AI_loop.OLY_PTI__r.OLY_Reportability_Rationale_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_PTI_IS_already_exists_in_collection_AI</targetReference>
            </connector>
            <label>PTI RAD already exists in collection (AI)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PTI_RAD_already_exists_in_collection_AR</name>
        <label>Check if PTI RAD already exists in collection (AR)</label>
        <locationX>2886</locationX>
        <locationY>3752</locationY>
        <defaultConnector>
            <targetReference>Copy_PTI_RAD_details_to_Complaint_AR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PTI RAD needs to be added</defaultConnectorLabel>
        <rules>
            <name>PTI_RAD_already_exists_in_collection_AR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>col_PTI_RAD_IDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AR_loop.OLY_PTI__r.OLY_Reportability_Rationale_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AR_loop.OLY_PTI__r.OLY_Reportability_Rationale_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_PTI_IS_already_exists_in_collection_AR</targetReference>
            </connector>
            <label>PTI RAD already exists in collection (AR)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_input_variables</name>
        <label>Check input variables</label>
        <locationX>818</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_col_of_RECORDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Records_loop</targetReference>
            </connector>
            <label>Has col of RECORDS</label>
        </rules>
        <rules>
            <name>Has_single_RECORD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Record_ID_to_TEXT_collection</targetReference>
            </connector>
            <label>Has single RECORD</label>
        </rules>
        <rules>
            <name>Has_col_of_TEXT_IDs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Record_Ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Complaints_in_TEXT_collection</targetReference>
            </connector>
            <label>Has col of TEXT IDs</label>
        </rules>
        <rules>
            <name>Has_single_TEXT_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Record_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_ID_to_TEXT_collection</targetReference>
            </connector>
            <label>Has single TEXT ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WF_Status</name>
        <label>Check WF Status</label>
        <locationX>2842</locationX>
        <locationY>4820</locationY>
        <defaultConnector>
            <targetReference>AR_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WF_Status_Complaint_in_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Complaint.OLY_Has_AI_Codes_for_All_AR_Codes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_matching_AI_Codes</targetReference>
            </connector>
            <label>WF Status = Complaint in Progress</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frm_PTITextDelimiter</name>
        <dataType>String</dataType>
        <expression>&quot;;&quot; &amp; BR()</expression>
    </formulas>
    <interviewLabel>PTI Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PTI Handler (alf)</label>
    <loops>
        <name>AI_loop</name>
        <label>AI loop</label>
        <locationX>1786</locationX>
        <locationY>5696</locationY>
        <collectionReference>Find_AIs_for_current_Complaint</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_AI_Code_already_exists_in_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HE_loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AR_loop</name>
        <label>AR loop</label>
        <locationX>2358</locationX>
        <locationY>2096</locationY>
        <collectionReference>Find_ARs_for_current_Complaint</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_AR_Code_already_exists_in_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AI_loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Complaint_loop</name>
        <label>Complaint loop</label>
        <locationX>818</locationX>
        <locationY>1124</locationY>
        <collectionReference>Input_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_up_empty_Complaint_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Complaints</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>HE_loop</name>
        <label>HE loop</label>
        <locationX>1786</locationX>
        <locationY>9620</locationY>
        <collectionReference>Find_HEs_for_current_Complaint</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Code_already_exists_in_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_E_and_F_codes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Input_Records_loop</name>
        <label>Input_Records loop</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <collectionReference>Input_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Complaint_ID_to_TEXT_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_child_AR_Codes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_child_AI_Codes</name>
        <label>Get child AI Codes</label>
        <locationX>818</locationX>
        <locationY>908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_child_HE_Codes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OLY_Complaint__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Input_Record_Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_DeletedCodeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OLY_As_Investigated_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_child_AR_Codes</name>
        <label>Get child AR Codes</label>
        <locationX>818</locationX>
        <locationY>800</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_child_AI_Codes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OLY_Complaint__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Input_Record_Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_DeletedCodeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OLY_As_Reported_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_child_HE_Codes</name>
        <label>Get child HE Codes</label>
        <locationX>818</locationX>
        <locationY>1016</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Complaint_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OLY_Complaint__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Input_Record_Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_DeletedCodeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OLY_Health_Effect_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Complaints_in_TEXT_collection</name>
        <label>Get Complaints in TEXT collection</label>
        <locationX>794</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_query_result_to_RECORD_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Input_Record_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CMPL123CME__Complaint__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CMPL123CME__CMPL123_WF_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Complaints</name>
        <label>Update Complaints</label>
        <locationX>818</locationX>
        <locationY>12044</locationY>
        <inputReference>col_UpdatedComplaints</inputReference>
    </recordUpdates>
    <start>
        <locationX>692</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_input_variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_AICodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_ARCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_ComplaintCodeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>col_ComplaintCodeNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>col_EmptyTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_PTI_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_PTI_IS_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_PTI_NRJ_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_PTI_RAD_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_PTIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLY_PTI__c</objectType>
    </variables>
    <variables>
        <name>col_UpdatedComplaints</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Complaint__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_AI_Codes_with_matching_A_G_codes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLY_As_Investigated_Code__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_AR_Codes_with_PTI_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLY_As_Reported_Code__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_AR_Codes_without_PTI_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLY_As_Reported_Code__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Has_AI_Codes_with_PTI_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLY_As_Investigated_Code__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Has_AI_Codes_without_PTI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLY_As_Investigated_Code__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_AI_Codes_with_Letter_Req_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLY_As_Investigated_Code__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_AIs_for_current_Complaint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLY_As_Investigated_Code__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_ARs_for_current_Complaint_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLY_As_Reported_Code__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_HEs_for_current_Complaint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLY_Health_Effect_Code__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_matching_AI_Codes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLY_As_Investigated_Code__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OLY_As_Reported_Code__c</objectType>
    </variables>
    <variables>
        <name>Input_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Complaint__c</objectType>
    </variables>
    <variables>
        <name>Input_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Record_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Complaint__c</objectType>
    </variables>
    <variables>
        <name>Input_RecordWfStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>num_ARCodes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>num_MatchingAICodes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>rec_Complaint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Complaint__c</objectType>
    </variables>
    <variables>
        <name>rec_Complaint_template</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Complaint__c</objectType>
    </variables>
    <variables>
        <name>var_DeletedCodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Has_Any_E_Code</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Has_Any_F_Code</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Has_PTI_E_Code</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Has_PTI_F_Code</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
