force-app/main/default/flows/TWD_Inquiry_Before_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Append_unmatched_STATE_to_Facility_City</name>
        <label>Append unmatched STATE to Facility City</label>
        <locationX>1044</locationX>
        <locationY>4385</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Facility_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fld_FacilityCityplusStateCode_trim255</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_duplicate_Inquiries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Move_Postal_Code_to_Zip_Code</name>
        <label>Move Postal Code to Zip Code</label>
        <locationX>1264</locationX>
        <locationY>3917</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Facility_Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OLY_Facility_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Facility_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Country_Code</name>
        <label>Set Country Code</label>
        <locationX>1396</locationX>
        <locationY>3701</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Facility_Country_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Code.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_country_code_is_USA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Is_Duplicate_False</name>
        <label>Set Is Duplicate = False</label>
        <locationX>1308</locationX>
        <locationY>4793</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Is_Duplicate_Source_System_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Product_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Is_Duplicate_True</name>
        <label>Set Is Duplicate = True</label>
        <locationX>1044</locationX>
        <locationY>4793</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Is_Duplicate_Source_System_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Product_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_filtered_MLA_Item_Code_Products</name>
        <label>Set Number of filtered MLA Item Code Products</label>
        <locationX>814</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>numberOfProdMLAItemCode</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Products_with_MLA_Item_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_MLA_Item_Code_for_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_filtered_Products_with_Item_Code</name>
        <label>Set Number of filtered Products with Item Code</label>
        <locationX>486</locationX>
        <locationY>1643</locationY>
        <assignmentItems>
            <assignToReference>numberOfFilteredProductsWithItemCode</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_for_Item_Code_from_Source</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_of_Product_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_filtered_Products_with_Model_Number</name>
        <label>Set Number of filtered Products with Model Number</label>
        <locationX>486</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>numberOfFilteredProductsWithModelNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_for_Model_Number_from_Source</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Does_Source_have_Item_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_based_on_Model_Number_outcome</name>
        <label>Set Product based on Model Number outcome</label>
        <locationX>608</locationX>
        <locationY>2909</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Check_for_Country_State_lookup_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_based_on_single_record_of_Item_Code</name>
        <label>Set Product based on single record of Item Code</label>
        <locationX>50</locationX>
        <locationY>2309</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Check_for_Country_State_lookup_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Summary</name>
        <label>Set Product Summary</label>
        <locationX>1500</locationX>
        <locationY>5261</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__Short_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_ConcatProductValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Item_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CMPL123CME__Product__r.OLY_Item_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Check_if_Country_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_with_MLA_Item_Code</name>
        <label>Set Product with MLA Item Code</label>
        <locationX>794</locationX>
        <locationY>2483</locationY>
        <assignmentItems>
            <assignToReference>varProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_Product_with_MLA_Item_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Product_based_on_Model_Number_outcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reg_Cmp_Handling_Center_and_Letter_requirement</name>
        <label>Set Reg Cmp Handling Center and Letter requirement</label>
        <locationX>1500</locationX>
        <locationY>5669</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Regional_Complaint_Handling_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country.OLY_Regional_Complaint_Handling_Center__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OLY_Customer_Letter_Required_Regulation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>letterRequiredFromCountryFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_RKV_Inquiry</name>
        <label>Set RKV = Inquiry</label>
        <locationX>1242</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.CMPL123CME__CMPL123Rule_Key_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Inquiry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Check_for_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_single_Product_from_collection_from_Item_Code</name>
        <label>Set single Product from collection from Item Code</label>
        <locationX>138</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>varProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_Product_matched_to_source_Item_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Product_based_on_single_record_of_Item_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_single_Product_from_collection_from_Model_Number</name>
        <label>Set single Product from collection from Model Number</label>
        <locationX>490</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>varProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_Product_matched_to_source_Model_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Product_based_on_Model_Number_outcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_State_Code</name>
        <label>Set State Code</label>
        <locationX>1704</locationX>
        <locationY>3701</locationY>
        <assignmentItems>
            <assignToReference>$Record.OLY_Facility_State_Province_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Code.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Code</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_for_Item_Code_from_Source</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Item Code from Source</label>
        <locationX>486</locationX>
        <locationY>1535</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Item_Code_from_Source</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Product_records_from_Model_Number_OR_Item_Code</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Item_Code_from_Source.OLY_Item_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.OLY_Item_Code_from_Source__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Number_of_filtered_Products_with_Item_Code</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_Model_Number_from_Source</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Model Number from Source</label>
        <locationX>486</locationX>
        <locationY>1127</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Item_Code_from_Source</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Product_records_from_Model_Number_OR_Item_Code</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Item_Code_from_Source.OLY_Model_Number__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.OLY_Model_Number_from_Source__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Number_of_filtered_Products_with_Model_Number</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Products_with_MLA_Item_Code</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Products with MLA Item Code</label>
        <locationX>814</locationX>
        <locationY>2051</locationY>
        <assignNextValueToReference>currentItem_Filter_Products_with_MLA_Item_Code</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Product_records_from_Model_Number_OR_Item_Code</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Products_with_MLA_Item_Code.OLY_Item_Code__c</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <elementReference>txt_MLA</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Products_with_MLA_Item_Code.OLY_Item_Code__c</leftValueReference>
            <operator>EndsWith</operator>
            <rightValue>
                <elementReference>$Record.OLY_Model_Number_from_Source__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Number_of_filtered_MLA_Item_Code_Products</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>txt_Inquiry</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Inquiry</stringValue>
        </value>
    </constants>
    <constants>
        <name>txt_MLA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MLA</stringValue>
        </value>
    </constants>
    <customErrors>
        <name>Missing_MLA_Item_Code_for_Product</name>
        <label>Missing MLA Item Code for Product</label>
        <locationX>922</locationX>
        <locationY>2375</locationY>
        <customErrorMessages>
            <errorMessage>There are multiple Products that match the source Model Number but no MLA designated Item Code.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_for_MLA_Item_Code_for_Product</name>
        <label>Check for MLA Item Code for Product</label>
        <locationX>814</locationX>
        <locationY>2267</locationY>
        <defaultConnector>
            <targetReference>Missing_MLA_Item_Code_for_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No MLA Item Code found</defaultConnectorLabel>
        <rules>
            <name>MLA_Item_Code_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfProdMLAItemCode</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Product_with_MLA_Item_Code</targetReference>
            </connector>
            <label>MLA Item Code found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_country_code_is_USA</name>
        <label>Check if country code is USA</label>
        <locationX>1396</locationX>
        <locationY>3809</locationY>
        <defaultConnector>
            <targetReference>For_each_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_code_is_USA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_Code.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Facility_Zip_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_Postal_Code_to_Zip_Code</targetReference>
            </connector>
            <label>Country code is &apos;USA&apos;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_duplicate</name>
        <label>Check if duplicate</label>
        <locationX>1176</locationX>
        <locationY>4685</locationY>
        <defaultConnector>
            <targetReference>Set_Is_Duplicate_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not duplicate</defaultConnectorLabel>
        <rules>
            <name>Is_duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_duplicate_Inquiries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_Duplicate_True</targetReference>
            </connector>
            <label>Is duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_Product_Records</name>
        <label>Check Number of Product Records</label>
        <locationX>618</locationX>
        <locationY>1835</locationY>
        <defaultConnectorLabel>No Product matching Model Number</defaultConnectorLabel>
        <rules>
            <name>One_Product_with_Item_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfFilteredProductsWithItemCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Product_matched_to_source_Item_Code</targetReference>
            </connector>
            <label>One Product with Item Code</label>
        </rules>
        <rules>
            <name>Products_exist_with_Source_Model_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfFilteredProductsWithModelNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_multiple_Products_match_source_Model_Number</targetReference>
            </connector>
            <label>Products exist with Source Model Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_changed</name>
        <label>Check Product changed</label>
        <locationX>1632</locationX>
        <locationY>5153</locationY>
        <defaultConnector>
            <targetReference>dec_Check_if_Country_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_has_changed</name>
            <conditionLogic>((1 OR 2) AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>frm_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__Product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_Summary</targetReference>
            </connector>
            <label>Product has changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Source_for_Model_Number_OR_Item_Code</name>
        <label>Check Source for Model Number OR Item Code</label>
        <locationX>1034</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>Item AND Model from source are blank - VR will prevent saving record</defaultConnectorLabel>
        <rules>
            <name>dec_Source_has_Model_Number_OR_Item_Code</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Model_Number_from_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Item_Code_from_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_records_from_Model_Number_OR_Item_Code</targetReference>
            </connector>
            <label>dec Source has Model Number OR Item Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Check_Code_Type</name>
        <label>Check Code Type</label>
        <locationX>1682</locationX>
        <locationY>3593</locationY>
        <defaultConnector>
            <targetReference>For_each_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_Is_Country_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_Code.CMPL123CME__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COUNTRY CODE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Facility_Country_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Country_Code</targetReference>
            </connector>
            <label>Is Country Code</label>
        </rules>
        <rules>
            <name>out_Is_State_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_Code.CMPL123CME__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STATE CODE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Facility_State_Province_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_State_Code</targetReference>
            </connector>
            <label>Is State Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Check_for_Country_State_lookup_data</name>
        <label>Check for Country/State lookup data</label>
        <locationX>1374</locationX>
        <locationY>3269</locationY>
        <defaultConnector>
            <targetReference>Check_Product_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Country/State</defaultConnectorLabel>
        <rules>
            <name>out_Has_Country_or_State_lookup_values</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Facility_Country_Code_from_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Facility_StateProvReg_from_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Facility_Country_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Facility_State_Province_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Country_and_State_codes</targetReference>
            </connector>
            <label>Has Country or State lookup values</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Check_for_Product</name>
        <label>Check for Product</label>
        <locationX>1374</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>dec_Check_for_Country_State_lookup_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Product</defaultConnectorLabel>
        <rules>
            <name>out_Has_no_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMPL123CME__Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Source_for_Model_Number_OR_Item_Code</targetReference>
            </connector>
            <label>Has no Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Check_if_Country_changed</name>
        <label>Check if Country changed</label>
        <locationX>1632</locationX>
        <locationY>5453</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_Country_changed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>frm_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Country_of_Occurrence__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Country_of_Occurrence__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Country</targetReference>
            </connector>
            <label>Country changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Check_if_IsNew</name>
        <label>Check if IsNew()</label>
        <locationX>1632</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_Product_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frm_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_Check_Record_Type</targetReference>
            </connector>
            <label>IsNew()</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Check_if_STATE_CODE_has_a_match_from_source</name>
        <label>dec Check if STATE CODE has a match from source</label>
        <locationX>1176</locationX>
        <locationY>4277</locationY>
        <defaultConnector>
            <targetReference>Get_duplicate_Inquiries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_STATE_CODE_match_from_source</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Facility_StateProvReg_from_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OLY_Facility_State_Province_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_unmatched_STATE_to_Facility_City</targetReference>
            </connector>
            <label>No STATE CODE match from source</label>
        </rules>
    </decisions>
    <decisions>
        <description>Set the Rule Key Value Field upon creation of the record if the record type = Inquiry</description>
        <name>dec_Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>1374</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>dec_Check_for_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>out_Record_Type_Inquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>txt_Inquiry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RKV_Inquiry</targetReference>
            </connector>
            <label>Record Type = Inquiry</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Does_Source_have_Item_Code</name>
        <label>dec Does Source have Item Code</label>
        <locationX>618</locationX>
        <locationY>1427</locationY>
        <defaultConnector>
            <targetReference>Check_Number_of_Product_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Source has NO Item Code</defaultConnectorLabel>
        <rules>
            <name>Source_has_Item_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Item_Code_from_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_for_Item_Code_from_Source</targetReference>
            </connector>
            <label>Source has Item Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Does_Source_have_Model_Number</name>
        <label>dec Does Source have Model Number</label>
        <locationX>618</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>dec_Does_Source_have_Item_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Source has NO Model Number</defaultConnectorLabel>
        <rules>
            <name>Source_has_Model_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OLY_Model_Number_from_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_for_Model_Number_from_Source</targetReference>
            </connector>
            <label>Source has Model Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_multiple_Products_match_source_Model_Number</name>
        <label>Do multiple Products match source Model Number</label>
        <locationX>608</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>Filter_Products_with_MLA_Item_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes-There are multiple Products</defaultConnectorLabel>
        <rules>
            <name>No_Only_one_Product_matches_Source_Model_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfFilteredProductsWithModelNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Product_matched_to_source_Model_Number</targetReference>
            </connector>
            <label>No-Only one Product matches Source Model Number</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fld_FacilityCityplusStateCode_trim255</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.OLY_Facility_City__c} +&quot;, &quot;+{!$Record.OLY_Facility_StateProvReg_from_Source__c},255)</expression>
    </formulas>
    <formulas>
        <name>frm_ConcatProductValues</name>
        <dataType>String</dataType>
        <expression>if( and( 
isblank( {!$Record.CMPL123CME__Product__r.CMPL123__Product_Family__c}), 
isblank( {!$Record.CMPL123CME__Product__r.OLY_Model_Number__c}),
isblank( {!$Record.CMPL123CME__Product__r.CMPL123__Product_Description__c}),
isblank({!$Record.CMPL123CME__Product__r.OLY_Item_Code__c})), 
&quot;_&quot;,

if( isblank( {!$Record.CMPL123CME__Product__r.CMPL123__Product_Family__c} ), &quot;&quot;, {!$Record.CMPL123CME__Product__r.CMPL123__Product_Family__c} &amp; &quot;: &quot;)

&amp; {!$Record.CMPL123CME__Product__r.OLY_Model_Number__c} 

&amp; if( isblank( {!$Record.CMPL123CME__Product__r.OLY_Item_Code__c} ), &quot; | &quot; &amp; &quot;Unknown &quot;, &quot; |  &quot; &amp; {!$Record.CMPL123CME__Product__r.OLY_Item_Code__c} )

&amp; if( isblank( {!$Record.CMPL123CME__Product__r.CMPL123__Product_Description__c} ), &quot;&quot;, &quot; (&quot; &amp; {!$Record.CMPL123CME__Product__r.CMPL123__Product_Description__c} &amp; &quot;)&quot;)

)</expression>
    </formulas>
    <formulas>
        <name>frm_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>letterRequiredFromCountryFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!Get_Country.OLY_Customer_Letter_Required__c}, &quot;Yes&quot;), true, false)</expression>
    </formulas>
    <interviewLabel>TWD Inquiry Before Save Flow</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Inquiry - Before Save Flow (TWD)</label>
    <loops>
        <name>For_each_Code</name>
        <label>For each Code</label>
        <locationX>1176</locationX>
        <locationY>3485</locationY>
        <collectionReference>Get_Country_and_State_codes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dec_Check_Code_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_Check_if_STATE_CODE_has_a_match_from_source</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>One_Product_matched_to_source_Item_Code</name>
        <label>One Product matched to source Item Code</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <collectionReference>Filter_for_Item_Code_from_Source</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_single_Product_from_collection_from_Item_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Product_based_on_single_record_of_Item_Code</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>One_Product_matched_to_source_Model_Number</name>
        <label>One Product matched to source Model Number</label>
        <locationX>402</locationX>
        <locationY>2051</locationY>
        <collectionReference>Filter_for_Model_Number_from_Source</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_single_Product_from_collection_from_Model_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Product_based_on_Model_Number_outcome</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>One_Product_with_MLA_Item_Code</name>
        <label>One Product with MLA Item Code</label>
        <locationX>706</locationX>
        <locationY>2375</locationY>
        <collectionReference>Filter_Products_with_MLA_Item_Code</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Product_with_MLA_Item_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Product_based_on_Model_Number_outcome</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Country</name>
        <label>Get Country</label>
        <locationX>1500</locationX>
        <locationY>5561</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Reg_Cmp_Handling_Center_and_Letter_requirement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OLY_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OLY_Country_of_Occurrence__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OLY_Country__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OLY_Country_Group__c</queriedFields>
        <queriedFields>OLY_Customer_Letter_Required__c</queriedFields>
        <queriedFields>OLY_Regional_Complaint_Handling_Center__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Country_and_State_codes</name>
        <label>Get Country and State codes</label>
        <locationX>1176</locationX>
        <locationY>3377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Code</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>CMPL123CME__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COUNTRY CODE</stringValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123CME__Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OLY_Facility_Country_Code_from_Source__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CMPL123CME__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STATE CODE</stringValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123CME__Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OLY_Facility_StateProvReg_from_Source__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CMPL123CME__Complaint_Code__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CMPL123CME__Name__c</queriedFields>
        <queriedFields>CMPL123CME__Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_duplicate_Inquiries</name>
        <label>Get duplicate Inquiries</label>
        <locationX>1176</locationX>
        <locationY>4577</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_duplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OLY_Source_System_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OLY_Source_System_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OLY_Source_System_Reference_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OLY_Source_System_Reference_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CMPL123CME__Inquiry__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_records_from_Model_Number_OR_Item_Code</name>
        <label>Get Product records from Model Number OR Item Code</label>
        <locationX>618</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Does_Source_have_Model_Number</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OLY_Model_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OLY_Model_Number_from_Source__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OLY_Item_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OLY_Item_Code_from_Source__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CMPL123__Product__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OLY_Item_Code__c</queriedFields>
        <queriedFields>OLY_Model_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1506</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_Check_if_IsNew</targetReference>
        </connector>
        <object>CMPL123CME__Inquiry__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_for_Item_Code_from_Source</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123__Product__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Products_with_MLA_Item_Code</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123__Product__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123CME__Complaint_Code__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123__Product__c</objectType>
    </variables>
    <variables>
        <name>numberOfFilteredProductsWithItemCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numberOfFilteredProductsWithModelNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numberOfProdMLAItemCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numberOfProdRecordsWithModelNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>rec_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123__Product__c</objectType>
    </variables>
    <variables>
        <name>varProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CMPL123__Product__c</objectType>
    </variables>
</Flow>
